In [1]:
import pandas as pd
import numpy as np
import openpyxl

## Business Department Data Profile

In [2]:
df_products_lists = pd.read_excel(
    'Business Department/product_list.xlsx', engine='openpyxl')
print(df_products_lists)
print(df_products_lists.columns.ravel())

     Unnamed: 0    product_id                    product_name  \
0             0  PRODUCT16794  Grandmas swedish thin pancakes
1             1  PRODUCT61957          Chili jack oven omelet
2             2  PRODUCT23890                     Baked pears
3             3  PRODUCT52912        Best buttermilk pancakes
4             4  PRODUCT56387       Blackberry breakfast bars
..          ...           ...                             ...
745         445  PRODUCT35203                          tomato
746         446  PRODUCT34682                            bowl
747         447  PRODUCT07137                    dehumidifier
748         448  PRODUCT29484                            rice
749         449  PRODUCT22046                  dove deodorant

                   product_type  price
0           readymade_breakfast  12.81
1           readymade_breakfast   9.95
2           readymade_breakfast  10.04
3           readymade_breakfast   5.83
4           readymade_breakfast  14.00
..                          ...    ...
745                     grocery  17.28
746                 kitchenware  17.28
747  electronics and technology  38.07
748                     grocery  17.28
749          health and hygiene   6.11

[750 rows x 5 columns]
Index(['Unnamed: 0', 'product_id', 'product_name', 'product_type', 'price'], dtype='object')

In [3]:
products = df_products_lists.set_index('product_id')
products.head()

,Unnamed: 0,product_name,product_type,price
product_id,,,,
PRODUCT16794,0,Grandmas swedish thin pancakes,readymade_breakfast,12.81
PRODUCT61957,1,Chili jack oven omelet,readymade_breakfast,9.95
PRODUCT23890,2,Baked pears,readymade_breakfast,10.04
PRODUCT52912,3,Best buttermilk pancakes,readymade_breakfast,5.83
PRODUCT56387,4,Blackberry breakfast bars,readymade_breakfast,14.00

## Display unique values of 'product_name' and 'product_type'

#### Unique product names

In [4]:
unique_product_names = df_products_lists['product_name'].unique()
unique_product_names

array(['Grandmas swedish thin pancakes', 'Chili jack oven omelet',
       'Baked pears', 'Best buttermilk pancakes',
       'Blackberry breakfast bars',
       'Toasted sunny side up egg and cheese sandwiches',
       'Pikelets australian pancakes', 'Scrambled eggs oeufs brouills',
       'Moms cheat doughnuts',
       'Scrambled egg sandwiches with onions and red peppers',
       'Cheery cherry muffins', 'Bacon egg casserole',
       'Mexi eggs in a hole', 'Vanilla fruit dip',
       'Original praline bacon recipe',
       'Chicken and egg on rice oyako donburi',
       'Easy breakfast casserole', '3 meat breakfast pizza',
       'Baked swiss cheese omelet',
       'Flaeskeaeggekage danish bacon egg pancake omelet', 'Egg flowers',
       'Sleepy twisted sisters g n g breakfast ramekin',
       'Fresh mango bread', 'Easy danish kringle', 'Ham omelet deluxe',
       'Pumpkin ginger scones with cinnamon chips',
       'Shirleys plain or blueberry muffins', 'Broiled cinnamon toast',
       'Awesome orange chocolate muffins',
       'Nats cucumber cream cheese bagel',
       'Sausage gravy for biscuits and gravy',
       'Blueberry banana happy face pancakes',
       'Chef flowers simple sunday brunch omelette',
       'Blueberry bakery muffins', 'English muffins with bacon butter',
       'Cheesecake kugel', 'Eggs in a basket', 'Poached eggs technique',
       'Berry cream cheese coffee cake', 'Muffin toppings', 'Purple cow',
       'Breakfast casserole seasoned with country gravy',
       'Asparagus omelette wraps',
       'Pumpkin french toast with toasted walnuts',
       'Italian eggs with bacon', 'Whole grain pancake mix',
       'Creamy scrambled eggs in the microwave',
       'Canadian bacon cheese omelet',
       '6 week bran muffins auntie annes muffins', 'Danish bubble',
       'Old fashioned banana muffins', 'Country scrambled eggs',
       'Ginger lemon muffins',
       'Everyday french breakfast baguette and jam with chocolate milk',
       'Cardamom sour cream waffles', 'Oatmeal cookie granola',
       'A faster egg muffin', 'Hoisin marinated wing pieces',
       'Italian deli wraps', 'Caramelized onion focaccia bread machine',
       'Katos tasty salmon cream cheese surprise',
       'Spinach with lemon garlic',
       'Amazing sweet italian sausage pasta soup',
       'Parmesan fish in the oven',
       'Copycat taco bell chicken enchilada bowl',
       'Goat cheese black olive mashed potatoes',
       'Toasted ham and cheese supreme', 'Quick elephant ears',
       'Salmon with bourbon and brown sugar glaze',
       'No bake hersheys bar pie', 'Apple butterflies',
       'Nifs peanut butter banana muffins', 'Hummus with a twist',
       'Spicy chicken soup with hints of lemongrass and coconut milk',
       'Spinach salad with blue cheese', 'Fried almonds',
       'Hearty grilled cheese', 'Tuna red onion and parsley salad',
       'Sausage sandwich italian style', 'Sugared cinnamon almonds',
       'Blt sandwich', 'Rotisserie style chicken in the crock pot',
       'Chicken with cashews', 'Chocolate coconut dream bars',
       'Garlic herbed roasted red skin potatoes',
       'Fake crab salad sandwiches', 'Grilled chicken pesto panini',
       'Green goddess dressing', 'Baby greens with mustard vinaigrette',
       'Ginger soy salmon', 'Grilled blue cheese burgers',
       'Grilled havarti and avocado sandwiches', 'Scallop saute',
       'Insanely easy chickpea salad',
       'Don t burn your fingers garlic bread',
       'Delicious cheesy bacon and green onion potato skins',
       'Turkey swiss panini', 'Reuben sandwich our way',
       'Salami havarti and cole slaw sandwiches',
       'The godfather of grilled cheese sandwiches',
       'Lemon coconut muffins', 'Ww greek inspired scrambled egg wraps',
       'Fantastic banana bran muffins', 'Number 400 seafood casserole',
       'Delicious and simple fruit dip', 'Another buffalo wings recipe',
       'The traditional cyprus sandwich with halloumi onions and tomato',
       'Crispy fried chicken spring rolls', 'Pearls sesame noodles',
       'Beef for tacos', 'Creamed peas on toast',
       'Habit forming shrimp dip', 'Fresh tomato and cucumber salad',
       'Onion burgers by john t edge the longmeadow farm',
       'Egg salad club sandwiches or shrimp salad club',
       'Grilled cheese on raisin bread', 'Homemade popsicles',
       'The greatful bread sandwich', 'Famous white wings',
       'Simply simple cucumber slices in vinegar dressing longmeadow',
       'Baked ham glazed with pineapple and chipotle peppers',
       'California crab salad', 'Queen margherita pizza',
       'Strammer max german warm sandwich',
       'I did it my way tossed salad', 'Strawberry pavlova',
       'Chocolate covered dipped strawberries',
       'Lemon and parsley potatoes',
       'Crispy noodle salad with sweet and sour dressing',
       'T g i fridays mudslide', 'Kahlua hot chocolate',
       'Spanish garlic shrimp taverna',
       'Moroccan cinnamon coffee with orange flower water',
       'Celery and blue cheese salad', 'Oven fried zucchini sticks',
       'Kick a fried onion rings', 'Sweet and sour pork balls',
       'Asparagus with lemon butter crumbs',
       'Lindas chunky garlic mashed potatoes',
       'Tonkatsu japanese pork cutlet', 'Provencal olives',
       'Butterflied leg of lamb with lots of garlic and rosemary',
       'Flounder stuffed with shrimp and crabmeat', 'Maple coffee',
       'Pork chops with apples stuffing', 'Creamy beet salad',
       'Buttermilk mashed potatoes with country mustard',
       'Frozen kahlua creme', 'Hummus with pine nuts turkish style',
       'Roasted asparagus with sage and lemon butter',
       'Sourdough rosemary potato bread',
       'Salata marouli romaine lettuce salad', 'Caribbean sunset',
       'Sweet and sour kielbasa kabobs', 'Mamas fruit cobbler',
       'Mushroom and chicken grilled quesadillas',
       'Spinach salad with feta cheese',
       'Just like deweys candied walnut and grape salad',
       'Uncle bills caesar canadian style',
       'Orzo with tomatoes feta and green onions',
       'Caf a la russe chocolate coffee',
       'Baby greens with pears gorgonzola and pecans',
       'Lubys cafeteria butternut brownie pie', 'Asian broccoli salad',
       'Sausage mushroom appetizers', 'Creamy cucumber dill dip',
       'Pan broiled steak with whiskey sauce',
       'Sweet onion and mashed potato bake',
       'Swedish cucumber salad pressgurka', 'Sherry buttered shrimp',
       'New england roasted cornish game hens', 'Tilapia in thai sauce',
       'Red potato and green bean saute',
       'Crushed red potatoes with garlic', 'Savory pita chips',
       'Strawberry and cream cheese parfait', 'Spiced poached pears',
       'Grilled or baked salmon with lavender',
       'Lindas special potato salad', 'Nude beach',
       'Parslied new potatoes',
       'Bergy dim sum 5 steamed shrimp dumplings',
       'Swirled cranberry cheesecake',
       'Long island iced tea applebees tgi fridays style',
       'Emerils stewed black eyed peas',
       'Kittencals extra crispy fried chicken breast',
       'Wild addicting dip',
       'Raspberry cranberry salad with sour cream cream cheese topping',
       'Oriental asparagus and mushrooms', 'Blue margaritas',
       'Hot salty nuts', 'Kittencals crock pot french dip roast',
       'Herbed potato with cottage cheese', 'Orange glazed pork chops',
       'Lindas asian salmon', 'Ww potato gratin 5 points',
       'Creamy lemon tarts', 'Curried pea soup',
       'Kittencals chicken cacciatore', 'Jamaican pork tenderloin',
       'hair pin', 'ladle', 'plush unicorn', 'hair ribbon', 'toy plane',
       'leather wallet', 'purse', 'ring', 'bottle of oil', 'bow tie',
       'leg warmers', 'helmet', 'spice bottle', 'cat food',
       'bottle of milk', 'table', 'door', 'acorn', 'key',
       'box of baking soda', 'keychain', 'box of Q-tips', 'hand mirror',
       'box of notebooks', 'magnifying glass', 'shampoo', 'keyholder',
       'pair of scissors', 'screwdriver', 'bread', 'beaded bracelet',
       'necktie', 'cookies', 'blouse', 'diamond ring', 'sand paper',
       'honey jar', 'laptop', 'iphone', 'watch', 'coffee mug', 'cup',
       'pair of sunglasses', 'pudding', 'trash bag', 'electric fan',
       'basketball', 'tennis racket', 'tube of lipstick', 'bookmark',
       'bag of cotton balls', 'bar of soap', 'quartz crystal',
       'extension cord', 'antibacterial soap', 'wine glass', 'window',
       'bottle of soda', 'pair of water goggles', 'rubber stamp', 'lime',
       'baseball', 'carton of ice cream', 'tube of lip balm', 'shoes',
       'sandals', 'hair tie', 'scotch tape', 'pork', 'box of chocolates',
       'pencil holder', 'bottle of ink', 'thermometer', 'notepad',
       'tower holder', 'paperclip', "children's pants", 'khaki shorts',
       'lotion', 'crowbar', 'tennis ball', 'tea cup', 'sharpie',
       'cucumber', 'plush dinosaur', 'hammer', 'egg beater',
       'rhino plushie', 'small pouch', 'candy wrapper', 'shark toy',
       'country flag', 'pearl necklace', 'wooden spoon', 'game CD',
       'quilt', 'box of chalk', 'pack of cards', 'pair of glasses',
       'deodorant', 'bell', 'chocolate', 'tissue box', 'hand bag',
       'bottle of water', 'rock salt', 'sticker book', 'fridge', 'CD',
       'perfume', 'sponge', 'dove soap', 'white spoon', 'harmonica',
       'nail clippers', 'guitar', 'roll of stickers', 'hair clip',
       'picture frame', 'coloring book', 'speakers', 'pocketwatch',
       'few batteries', 'orca plushie', 'music CD', 'pens', 'dolphin toy',
       'locket', 'feather', 'rubber duck', 'chocolate cookies', 'shawl',
       'deodorant stick', 'pair of rubber gloves', 'piece of gum',
       'polo shirt', 'allen wrench', 'tooth pick', 'conditioner',
       'pool stick', 'flower blouse', 'screw', 'panda plushie', 'comb',
       'drawer', 'cabinet', 'gargle', 'toothbrush', 'pair of socks',
       'washing machine', 'bed', 'bread knife', 'remote', 'steak knife',
       'ice cube', 'mattress', 'closet', 'toilet', 'television set',
       'lip gloss', 'animal food', 'blue shirt', 'slipper', 'camera',
       'eraser', 'stop sign', 'sheet of paper', 'mouse pad',
       'bag of popcorn', 'shopping bag', 'ipod', 'lamp',
       'miniature portrait', 'bottle of honey', 'rubber band',
       'mini table', 'wrench', 'scallop shell', 'car wrench', 'button',
       'water bottle', 'video games', 'can of beans', 'box of tissues',
       'tweezers', 'package of crisp and crunchy edibles', 'whistle',
       'pencil', 'shirt with collar', 'martini glass', 'needle', 'soap',
       'can of whipped cream', 'bag', 'spool of thread', 'comic book',
       'toy robot', 'canteen spoon', 'safety pin', 'brush',
       'bottle of perfume', 'novel', 'flyswatter', 'toy car', 'dagger',
       'pepper shaker', 'pocketknife', 'sofa', 'painting', 'boom box',
       'whale toy', 'wedding ring', 'paintbrush', 'bottle', 'floor',
       'fish ball', 'bottle of syrup', 'statuette', 'plush cat',
       'ceiling lights', 'shovel', 'light stick', 'sticky note', 'crocs',
       'spoon', 'couch', 'duvet', 'spring', 'tool box', 'bandana',
       'clothes pin', 'lace', 'big notebook', 'wireless control',
       'mp3 player', 'harry potter', 'outlet', 'squid', 'candle', 'saw',
       'fishing hook', 'sun glasses', 'computer', 'apple',
       'pair of knitting needles', 'belt', 'butter knife', 'lamp shade',
       'toilet paper tube', 'water jug', 'refrigerator magnet',
       'bottle of pills', 'bananas', 'matchbook', 'roll of duct tape',
       'chain', 'box of markers', 'monitor', 'socks', 'shoe lace',
       'credit card holder', 'grid paper', 'balloon', 'tea pot',
       'letter opener', 'large door', 'brown shoes', 'sofa bed',
       'box of crayons', 'bottle of lotion', 'pine tree',
       'pair of safety goggles', 'place mat', 'plates', 'mobile phone',
       'egg', 'microphone', 'hair brush', 'domino set', 'buckle',
       'face wash', 'clay pot', 'twister', 'airconditioner', 'centrum',
       'pair of binoculars', 'beef', 'frying pan', 'spatula',
       'class ring', 'glass mirror', 'air fryer', 'chicken',
       'small knife', 'gold necklace', 'clock', 'book of jokes',
       'gaming gards', 'can opener', 'small banana', 'soccer ball',
       'packet of seeds', 'game cartridge', 'milk', 'cellphone', 'marble',
       'plastic fork', 'bangle bracelet', 'jar of jam', 'nail filer',
       'candy bar', 'jigsaw puzzle', 'mugs', 'vodafone mobile phone',
       'pillow', 'jar of peanut butter', 'toy top', 'samsung tablet',
       'candy cane', 'wooden nails', 'bottle of glue', 'washcloth',
       'pasta strainer', 'egg timer', 'lemon', 'gold belt', 'toy soldier',
       'white shorts', 'giraffe toy', 'magazine', 'chocolate flowers',
       'feather duster', 'fish', 'toothpick', 'lighter', 'baseball hat',
       'volleyball shoes', 'tennis jersey', 'video recorder',
       'smart television', 'ice cream stick', 'roll of toilet paper',
       'ipod charger', 'computer chair', 'grocery bag', 'glass mug',
       'kitchen knife', 'large plate', 'coffee pot', 'eye liner',
       'broccoli', 'snail shell', 'package of glitter', 'plush dog',
       'radio', 'blue pen', 'plush pony', 'multipurpose cleaning', 'vase',
       'carrot', 'rope', 'baseball bat', 'plush rabbit', 'laser pointer',
       'summit drinking water', 'dog food', 'roll of masking tape',
       'straw', 'bottle of nail polish', 'wristwatch', 'nail polish',
       'hard drive', 'hand fan', 'oslo paper', 'bonesaw', 'carrots',
       'handheld game system', 'Christmas ornament', 'red ribbon cake',
       'plush bear', 'garden spade', 'desk light', 'desk',
       'bottle of sunscreen', 'sketch pad', 'drill press', 'ball of yarn',
       'soy milk', 'wok', 'toy boat', 'squirt gun', 'spool of wire',
       'purse/bag', 'can of chili', 'teddies', 'football', 'orange',
       'cement stone', 'magnet', 'rubber cows', 'tall light lamp',
       'baseball gloves', 'door knob', 'plush octopus', 'light bulb',
       'big fork', 'mop', 'blackberry phone', 'printer', 'plush frog',
       'small notebook', 'electronic keyboard', 'pair of earrings',
       'salt shaker', 'flashlight', 'pair of tongs', 'refrigerator',
       'red scarf', 'rolling pin', 'chalk', 'standing desk',
       'can of peas', 'ice pick', 'blowdryer', 'huge scissors',
       'glue gun', 'dove lotion', 'desk drawer', 'bottle of paint',
       'stockings', 'whip cream', 'deviant television', 'tool basket',
       'colgate tooth paste', 'khaki pants', 'axe', 'jar of pickles',
       'tomato', 'bowl', 'dehumidifier', 'rice', 'dove deodorant'],
      dtype=object)

#### Unique product types

In [5]:
unique_product_types = df_products_lists['product_type'].unique()
print(unique_product_types)

['readymade_breakfast' 'readymade_lunch' 'readymade_dinner' 'accessories'
 'kitchenware' 'toys and entertainment' 'grocery' 'apparel' 'furniture'
 'health and hygiene' 'stationary' 'tools' 'jewelry' 'technology'
 'electronics and technology' 'sports' 'cosmetics'
 'stationary and school supplies' 'school supplies' 'music' 'others'
 'cleaning materials' 'cosmetic' 'appliances' 'toolss' nan]

In [6]:
# sample = df_products_lists[df_products_lists['product_type'] == "others"]
# print(sample)
# sample = df_products_lists[df_products_lists['product_type'] == "stationary and school supplies"]
# sample

#### No. of unique product names and unique product types

In [7]:
num_unique_product_names = df_products_lists['product_name'].nunique()
num_unique_product_types = df_products_lists['product_type'].nunique()
print("Number of Unique Product Names: ", num_unique_product_names)
print("Number of Unique Product Types: ", num_unique_product_types)

Number of Unique Product Names:  642
Number of Unique Product Types:  25

## Fix the naming of product names and product types

#### Convert product name to title case

In [8]:
df_products_lists['product_name'] = df_products_lists['product_name'].str.title()
unique_product_names = df_products_lists['product_name'].unique()
unique_product_names

array(['Grandmas Swedish Thin Pancakes', 'Chili Jack Oven Omelet',
       'Baked Pears', 'Best Buttermilk Pancakes',
       'Blackberry Breakfast Bars',
       'Toasted Sunny Side Up Egg And Cheese Sandwiches',
       'Pikelets Australian Pancakes', 'Scrambled Eggs Oeufs Brouills',
       'Moms Cheat Doughnuts',
       'Scrambled Egg Sandwiches With Onions And Red Peppers',
       'Cheery Cherry Muffins', 'Bacon Egg Casserole',
       'Mexi Eggs In A Hole', 'Vanilla Fruit Dip',
       'Original Praline Bacon Recipe',
       'Chicken And Egg On Rice Oyako Donburi',
       'Easy Breakfast Casserole', '3 Meat Breakfast Pizza',
       'Baked Swiss Cheese Omelet',
       'Flaeskeaeggekage Danish Bacon Egg Pancake Omelet', 'Egg Flowers',
       'Sleepy Twisted Sisters G N G Breakfast Ramekin',
       'Fresh Mango Bread', 'Easy Danish Kringle', 'Ham Omelet Deluxe',
       'Pumpkin Ginger Scones With Cinnamon Chips',
       'Shirleys Plain Or Blueberry Muffins', 'Broiled Cinnamon Toast',
       'Awesome Orange Chocolate Muffins',
       'Nats Cucumber Cream Cheese Bagel',
       'Sausage Gravy For Biscuits And Gravy',
       'Blueberry Banana Happy Face Pancakes',
       'Chef Flowers Simple Sunday Brunch Omelette',
       'Blueberry Bakery Muffins', 'English Muffins With Bacon Butter',
       'Cheesecake Kugel', 'Eggs In A Basket', 'Poached Eggs Technique',
       'Berry Cream Cheese Coffee Cake', 'Muffin Toppings', 'Purple Cow',
       'Breakfast Casserole Seasoned With Country Gravy',
       'Asparagus Omelette Wraps',
       'Pumpkin French Toast With Toasted Walnuts',
       'Italian Eggs With Bacon', 'Whole Grain Pancake Mix',
       'Creamy Scrambled Eggs In The Microwave',
       'Canadian Bacon Cheese Omelet',
       '6 Week Bran Muffins Auntie Annes Muffins', 'Danish Bubble',
       'Old Fashioned Banana Muffins', 'Country Scrambled Eggs',
       'Ginger Lemon Muffins',
       'Everyday French Breakfast Baguette And Jam With Chocolate Milk',
       'Cardamom Sour Cream Waffles', 'Oatmeal Cookie Granola',
       'A Faster Egg Muffin', 'Hoisin Marinated Wing Pieces',
       'Italian Deli Wraps', 'Caramelized Onion Focaccia Bread Machine',
       'Katos Tasty Salmon Cream Cheese Surprise',
       'Spinach With Lemon Garlic',
       'Amazing Sweet Italian Sausage Pasta Soup',
       'Parmesan Fish In The Oven',
       'Copycat Taco Bell Chicken Enchilada Bowl',
       'Goat Cheese Black Olive Mashed Potatoes',
       'Toasted Ham And Cheese Supreme', 'Quick Elephant Ears',
       'Salmon With Bourbon And Brown Sugar Glaze',
       'No Bake Hersheys Bar Pie', 'Apple Butterflies',
       'Nifs Peanut Butter Banana Muffins', 'Hummus With A Twist',
       'Spicy Chicken Soup With Hints Of Lemongrass And Coconut Milk',
       'Spinach Salad With Blue Cheese', 'Fried Almonds',
       'Hearty Grilled Cheese', 'Tuna Red Onion And Parsley Salad',
       'Sausage Sandwich Italian Style', 'Sugared Cinnamon Almonds',
       'Blt Sandwich', 'Rotisserie Style Chicken In The Crock Pot',
       'Chicken With Cashews', 'Chocolate Coconut Dream Bars',
       'Garlic Herbed Roasted Red Skin Potatoes',
       'Fake Crab Salad Sandwiches', 'Grilled Chicken Pesto Panini',
       'Green Goddess Dressing', 'Baby Greens With Mustard Vinaigrette',
       'Ginger Soy Salmon', 'Grilled Blue Cheese Burgers',
       'Grilled Havarti And Avocado Sandwiches', 'Scallop Saute',
       'Insanely Easy Chickpea Salad',
       'Don T Burn Your Fingers Garlic Bread',
       'Delicious Cheesy Bacon And Green Onion Potato Skins',
       'Turkey Swiss Panini', 'Reuben Sandwich Our Way',
       'Salami Havarti And Cole Slaw Sandwiches',
       'The Godfather Of Grilled Cheese Sandwiches',
       'Lemon Coconut Muffins', 'Ww Greek Inspired Scrambled Egg Wraps',
       'Fantastic Banana Bran Muffins', 'Number 400 Seafood Casserole',
       'Delicious And Simple Fruit Dip', 'Another Buffalo Wings Recipe',
       'The Traditional Cyprus Sandwich With Halloumi Onions And Tomato',
       'Crispy Fried Chicken Spring Rolls', 'Pearls Sesame Noodles',
       'Beef For Tacos', 'Creamed Peas On Toast',
       'Habit Forming Shrimp Dip', 'Fresh Tomato And Cucumber Salad',
       'Onion Burgers By John T Edge The Longmeadow Farm',
       'Egg Salad Club Sandwiches Or Shrimp Salad Club',
       'Grilled Cheese On Raisin Bread', 'Homemade Popsicles',
       'The Greatful Bread Sandwich', 'Famous White Wings',
       'Simply Simple Cucumber Slices In Vinegar Dressing Longmeadow',
       'Baked Ham Glazed With Pineapple And Chipotle Peppers',
       'California Crab Salad', 'Queen Margherita Pizza',
       'Strammer Max German Warm Sandwich',
       'I Did It My Way Tossed Salad', 'Strawberry Pavlova',
       'Chocolate Covered Dipped Strawberries',
       'Lemon And Parsley Potatoes',
       'Crispy Noodle Salad With Sweet And Sour Dressing',
       'T G I Fridays Mudslide', 'Kahlua Hot Chocolate',
       'Spanish Garlic Shrimp Taverna',
       'Moroccan Cinnamon Coffee With Orange Flower Water',
       'Celery And Blue Cheese Salad', 'Oven Fried Zucchini Sticks',
       'Kick A Fried Onion Rings', 'Sweet And Sour Pork Balls',
       'Asparagus With Lemon Butter Crumbs',
       'Lindas Chunky Garlic Mashed Potatoes',
       'Tonkatsu Japanese Pork Cutlet', 'Provencal Olives',
       'Butterflied Leg Of Lamb With Lots Of Garlic And Rosemary',
       'Flounder Stuffed With Shrimp And Crabmeat', 'Maple Coffee',
       'Pork Chops With Apples Stuffing', 'Creamy Beet Salad',
       'Buttermilk Mashed Potatoes With Country Mustard',
       'Frozen Kahlua Creme', 'Hummus With Pine Nuts Turkish Style',
       'Roasted Asparagus With Sage And Lemon Butter',
       'Sourdough Rosemary Potato Bread',
       'Salata Marouli Romaine Lettuce Salad', 'Caribbean Sunset',
       'Sweet And Sour Kielbasa Kabobs', 'Mamas Fruit Cobbler',
       'Mushroom And Chicken Grilled Quesadillas',
       'Spinach Salad With Feta Cheese',
       'Just Like Deweys Candied Walnut And Grape Salad',
       'Uncle Bills Caesar Canadian Style',
       'Orzo With Tomatoes Feta And Green Onions',
       'Caf A La Russe Chocolate Coffee',
       'Baby Greens With Pears Gorgonzola And Pecans',
       'Lubys Cafeteria Butternut Brownie Pie', 'Asian Broccoli Salad',
       'Sausage Mushroom Appetizers', 'Creamy Cucumber Dill Dip',
       'Pan Broiled Steak With Whiskey Sauce',
       'Sweet Onion And Mashed Potato Bake',
       'Swedish Cucumber Salad Pressgurka', 'Sherry Buttered Shrimp',
       'New England Roasted Cornish Game Hens', 'Tilapia In Thai Sauce',
       'Red Potato And Green Bean Saute',
       'Crushed Red Potatoes With Garlic', 'Savory Pita Chips',
       'Strawberry And Cream Cheese Parfait', 'Spiced Poached Pears',
       'Grilled Or Baked Salmon With Lavender',
       'Lindas Special Potato Salad', 'Nude Beach',
       'Parslied New Potatoes',
       'Bergy Dim Sum 5 Steamed Shrimp Dumplings',
       'Swirled Cranberry Cheesecake',
       'Long Island Iced Tea Applebees Tgi Fridays Style',
       'Emerils Stewed Black Eyed Peas',
       'Kittencals Extra Crispy Fried Chicken Breast',
       'Wild Addicting Dip',
       'Raspberry Cranberry Salad With Sour Cream Cream Cheese Topping',
       'Oriental Asparagus And Mushrooms', 'Blue Margaritas',
       'Hot Salty Nuts', 'Kittencals Crock Pot French Dip Roast',
       'Herbed Potato With Cottage Cheese', 'Orange Glazed Pork Chops',
       'Lindas Asian Salmon', 'Ww Potato Gratin 5 Points',
       'Creamy Lemon Tarts', 'Curried Pea Soup',
       'Kittencals Chicken Cacciatore', 'Jamaican Pork Tenderloin',
       'Hair Pin', 'Ladle', 'Plush Unicorn', 'Hair Ribbon', 'Toy Plane',
       'Leather Wallet', 'Purse', 'Ring', 'Bottle Of Oil', 'Bow Tie',
       'Leg Warmers', 'Helmet', 'Spice Bottle', 'Cat Food',
       'Bottle Of Milk', 'Table', 'Door', 'Acorn', 'Key',
       'Box Of Baking Soda', 'Keychain', 'Box Of Q-Tips', 'Hand Mirror',
       'Box Of Notebooks', 'Magnifying Glass', 'Shampoo', 'Keyholder',
       'Pair Of Scissors', 'Screwdriver', 'Bread', 'Beaded Bracelet',
       'Necktie', 'Cookies', 'Blouse', 'Diamond Ring', 'Sand Paper',
       'Honey Jar', 'Laptop', 'Iphone', 'Watch', 'Coffee Mug', 'Cup',
       'Pair Of Sunglasses', 'Pudding', 'Trash Bag', 'Electric Fan',
       'Basketball', 'Tennis Racket', 'Tube Of Lipstick', 'Bookmark',
       'Bag Of Cotton Balls', 'Bar Of Soap', 'Quartz Crystal',
       'Extension Cord', 'Antibacterial Soap', 'Wine Glass', 'Window',
       'Bottle Of Soda', 'Pair Of Water Goggles', 'Rubber Stamp', 'Lime',
       'Baseball', 'Carton Of Ice Cream', 'Tube Of Lip Balm', 'Shoes',
       'Sandals', 'Hair Tie', 'Scotch Tape', 'Pork', 'Box Of Chocolates',
       'Pencil Holder', 'Bottle Of Ink', 'Thermometer', 'Notepad',
       'Tower Holder', 'Paperclip', "Children'S Pants", 'Khaki Shorts',
       'Lotion', 'Crowbar', 'Tennis Ball', 'Tea Cup', 'Sharpie',
       'Cucumber', 'Plush Dinosaur', 'Hammer', 'Egg Beater',
       'Rhino Plushie', 'Small Pouch', 'Candy Wrapper', 'Shark Toy',
       'Country Flag', 'Pearl Necklace', 'Wooden Spoon', 'Game Cd',
       'Quilt', 'Box Of Chalk', 'Pack Of Cards', 'Pair Of Glasses',
       'Deodorant', 'Bell', 'Chocolate', 'Tissue Box', 'Hand Bag',
       'Bottle Of Water', 'Rock Salt', 'Sticker Book', 'Fridge', 'Cd',
       'Perfume', 'Sponge', 'Dove Soap', 'White Spoon', 'Harmonica',
       'Nail Clippers', 'Guitar', 'Roll Of Stickers', 'Hair Clip',
       'Picture Frame', 'Coloring Book', 'Speakers', 'Pocketwatch',
       'Few Batteries', 'Orca Plushie', 'Music Cd', 'Pens', 'Dolphin Toy',
       'Locket', 'Feather', 'Rubber Duck', 'Chocolate Cookies', 'Shawl',
       'Deodorant Stick', 'Pair Of Rubber Gloves', 'Piece Of Gum',
       'Polo Shirt', 'Allen Wrench', 'Tooth Pick', 'Conditioner',
       'Pool Stick', 'Flower Blouse', 'Screw', 'Panda Plushie', 'Comb',
       'Drawer', 'Cabinet', 'Gargle', 'Toothbrush', 'Pair Of Socks',
       'Washing Machine', 'Bed', 'Bread Knife', 'Remote', 'Steak Knife',
       'Ice Cube', 'Mattress', 'Closet', 'Toilet', 'Television Set',
       'Lip Gloss', 'Animal Food', 'Blue Shirt', 'Slipper', 'Camera',
       'Eraser', 'Stop Sign', 'Sheet Of Paper', 'Mouse Pad',
       'Bag Of Popcorn', 'Shopping Bag', 'Ipod', 'Lamp',
       'Miniature Portrait', 'Bottle Of Honey', 'Rubber Band',
       'Mini Table', 'Wrench', 'Scallop Shell', 'Car Wrench', 'Button',
       'Water Bottle', 'Video Games', 'Can Of Beans', 'Box Of Tissues',
       'Tweezers', 'Package Of Crisp And Crunchy Edibles', 'Whistle',
       'Pencil', 'Shirt With Collar', 'Martini Glass', 'Needle', 'Soap',
       'Can Of Whipped Cream', 'Bag', 'Spool Of Thread', 'Comic Book',
       'Toy Robot', 'Canteen Spoon', 'Safety Pin', 'Brush',
       'Bottle Of Perfume', 'Novel', 'Flyswatter', 'Toy Car', 'Dagger',
       'Pepper Shaker', 'Pocketknife', 'Sofa', 'Painting', 'Boom Box',
       'Whale Toy', 'Wedding Ring', 'Paintbrush', 'Bottle', 'Floor',
       'Fish Ball', 'Bottle Of Syrup', 'Statuette', 'Plush Cat',
       'Ceiling Lights', 'Shovel', 'Light Stick', 'Sticky Note', 'Crocs',
       'Spoon', 'Couch', 'Duvet', 'Spring', 'Tool Box', 'Bandana',
       'Clothes Pin', 'Lace', 'Big Notebook', 'Wireless Control',
       'Mp3 Player', 'Harry Potter', 'Outlet', 'Squid', 'Candle', 'Saw',
       'Fishing Hook', 'Sun Glasses', 'Computer', 'Apple',
       'Pair Of Knitting Needles', 'Belt', 'Butter Knife', 'Lamp Shade',
       'Toilet Paper Tube', 'Water Jug', 'Refrigerator Magnet',
       'Bottle Of Pills', 'Bananas', 'Matchbook', 'Roll Of Duct Tape',
       'Chain', 'Box Of Markers', 'Monitor', 'Socks', 'Shoe Lace',
       'Credit Card Holder', 'Grid Paper', 'Balloon', 'Tea Pot',
       'Letter Opener', 'Large Door', 'Brown Shoes', 'Sofa Bed',
       'Box Of Crayons', 'Bottle Of Lotion', 'Pine Tree',
       'Pair Of Safety Goggles', 'Place Mat', 'Plates', 'Mobile Phone',
       'Egg', 'Microphone', 'Hair Brush', 'Domino Set', 'Buckle',
       'Face Wash', 'Clay Pot', 'Twister', 'Airconditioner', 'Centrum',
       'Pair Of Binoculars', 'Beef', 'Frying Pan', 'Spatula',
       'Class Ring', 'Glass Mirror', 'Air Fryer', 'Chicken',
       'Small Knife', 'Gold Necklace', 'Clock', 'Book Of Jokes',
       'Gaming Gards', 'Can Opener', 'Small Banana', 'Soccer Ball',
       'Packet Of Seeds', 'Game Cartridge', 'Milk', 'Cellphone', 'Marble',
       'Plastic Fork', 'Bangle Bracelet', 'Jar Of Jam', 'Nail Filer',
       'Candy Bar', 'Jigsaw Puzzle', 'Mugs', 'Vodafone Mobile Phone',
       'Pillow', 'Jar Of Peanut Butter', 'Toy Top', 'Samsung Tablet',
       'Candy Cane', 'Wooden Nails', 'Bottle Of Glue', 'Washcloth',
       'Pasta Strainer', 'Egg Timer', 'Lemon', 'Gold Belt', 'Toy Soldier',
       'White Shorts', 'Giraffe Toy', 'Magazine', 'Chocolate Flowers',
       'Feather Duster', 'Fish', 'Toothpick', 'Lighter', 'Baseball Hat',
       'Volleyball Shoes', 'Tennis Jersey', 'Video Recorder',
       'Smart Television', 'Ice Cream Stick', 'Roll Of Toilet Paper',
       'Ipod Charger', 'Computer Chair', 'Grocery Bag', 'Glass Mug',
       'Kitchen Knife', 'Large Plate', 'Coffee Pot', 'Eye Liner',
       'Broccoli', 'Snail Shell', 'Package Of Glitter', 'Plush Dog',
       'Radio', 'Blue Pen', 'Plush Pony', 'Multipurpose Cleaning', 'Vase',
       'Carrot', 'Rope', 'Baseball Bat', 'Plush Rabbit', 'Laser Pointer',
       'Summit Drinking Water', 'Dog Food', 'Roll Of Masking Tape',
       'Straw', 'Bottle Of Nail Polish', 'Wristwatch', 'Nail Polish',
       'Hard Drive', 'Hand Fan', 'Oslo Paper', 'Bonesaw', 'Carrots',
       'Handheld Game System', 'Christmas Ornament', 'Red Ribbon Cake',
       'Plush Bear', 'Garden Spade', 'Desk Light', 'Desk',
       'Bottle Of Sunscreen', 'Sketch Pad', 'Drill Press', 'Ball Of Yarn',
       'Soy Milk', 'Wok', 'Toy Boat', 'Squirt Gun', 'Spool Of Wire',
       'Purse/Bag', 'Can Of Chili', 'Teddies', 'Football', 'Orange',
       'Cement Stone', 'Magnet', 'Rubber Cows', 'Tall Light Lamp',
       'Baseball Gloves', 'Door Knob', 'Plush Octopus', 'Light Bulb',
       'Big Fork', 'Mop', 'Blackberry Phone', 'Printer', 'Plush Frog',
       'Small Notebook', 'Electronic Keyboard', 'Pair Of Earrings',
       'Salt Shaker', 'Flashlight', 'Pair Of Tongs', 'Refrigerator',
       'Red Scarf', 'Rolling Pin', 'Chalk', 'Standing Desk',
       'Can Of Peas', 'Ice Pick', 'Blowdryer', 'Huge Scissors',
       'Glue Gun', 'Dove Lotion', 'Desk Drawer', 'Bottle Of Paint',
       'Stockings', 'Whip Cream', 'Deviant Television', 'Tool Basket',
       'Colgate Tooth Paste', 'Khaki Pants', 'Axe', 'Jar Of Pickles',
       'Tomato', 'Bowl', 'Dehumidifier', 'Rice', 'Dove Deodorant'],
      dtype=object)

#### Check for special characters

In [9]:
special_chars_check = df_products_lists['product_name'].str.contains(
    r'[^A-Za-z0-9\s]', regex=True)
print(df_products_lists[special_chars_check])

     Unnamed: 0    product_id      product_name        product_type  price
321          21  PRODUCT15136     Box Of Q-Tips  health and hygiene   6.11
376          76  PRODUCT06861  Children'S Pants             apparel  17.28
699         399  PRODUCT21614         Purse/Bag             apparel  17.28

In [10]:
df_products_lists['product_name'] = df_products_lists['product_name'].replace(
    {"Children'S Pants": "Children's Pants"})

special_chars_check = df_products_lists['product_name'].str.contains(
    r'[^A-Za-z0-9\s]', regex=True)
print(df_products_lists[special_chars_check])

     Unnamed: 0    product_id      product_name        product_type  price
321          21  PRODUCT15136     Box Of Q-Tips  health and hygiene   6.11
376          76  PRODUCT06861  Children's Pants             apparel  17.28
699         399  PRODUCT21614         Purse/Bag             apparel  17.28

#### Convert product type to title case

In [11]:
df_products_lists['product_type'] = df_products_lists['product_type'].str.title()
unique_product_types = df_products_lists['product_type'].unique()
unique_product_types

array(['Readymade_Breakfast', 'Readymade_Lunch', 'Readymade_Dinner',
       'Accessories', 'Kitchenware', 'Toys And Entertainment', 'Grocery',
       'Apparel', 'Furniture', 'Health And Hygiene', 'Stationary',
       'Tools', 'Jewelry', 'Technology', 'Electronics And Technology',
       'Sports', 'Cosmetics', 'Stationary And School Supplies',
       'School Supplies', 'Music', 'Others', 'Cleaning Materials',
       'Cosmetic', 'Appliances', 'Toolss', nan], dtype=object)

#### Changing the product type of "stationary", "school supplies", and nan into "Stationary And School Supplies"

In [12]:
df_products_lists['product_type'] = df_products_lists['product_type'].replace({"Stationary": "Stationary And School Supplies"})
df_products_lists['product_type'] = df_products_lists['product_type'].replace({"School Supplies": "Stationary And School Supplies"})
df_products_lists['product_type'] = df_products_lists['product_type'].fillna("Stationary And School Supplies")
df_products_lists['product_type'].unique()

array(['Readymade_Breakfast', 'Readymade_Lunch', 'Readymade_Dinner',
       'Accessories', 'Kitchenware', 'Toys And Entertainment', 'Grocery',
       'Apparel', 'Furniture', 'Health And Hygiene',
       'Stationary And School Supplies', 'Tools', 'Jewelry', 'Technology',
       'Electronics And Technology', 'Sports', 'Cosmetics', 'Music',
       'Others', 'Cleaning Materials', 'Cosmetic', 'Appliances', 'Toolss'],
      dtype=object)

#### Changing the product type of "Appliances" and "Technology" into "Electronics And Technology"

In [13]:
df_products_lists['product_type'] = df_products_lists['product_type'].replace({"Appliances": "Electronics And Technology"})
df_products_lists['product_type'] = df_products_lists['product_type'].replace({"Technology": "Electronics And Technology"})
df_products_lists['product_type'].unique()

array(['Readymade_Breakfast', 'Readymade_Lunch', 'Readymade_Dinner',
       'Accessories', 'Kitchenware', 'Toys And Entertainment', 'Grocery',
       'Apparel', 'Furniture', 'Health And Hygiene',
       'Stationary And School Supplies', 'Tools', 'Jewelry',
       'Electronics And Technology', 'Sports', 'Cosmetics', 'Music',
       'Others', 'Cleaning Materials', 'Cosmetic', 'Toolss'], dtype=object)

#### Fix wrong product type

In [14]:
df_products_lists['product_type'] = df_products_lists['product_type'].replace({
                                                                              "Toolss": "Tools"})
df_products_lists['product_type'] = df_products_lists['product_type'].str.replace(
    '_', ' ')

unique_product_types = df_products_lists['product_type'].unique()
unique_product_types

array(['Readymade Breakfast', 'Readymade Lunch', 'Readymade Dinner',
       'Accessories', 'Kitchenware', 'Toys And Entertainment', 'Grocery',
       'Apparel', 'Furniture', 'Health And Hygiene',
       'Stationary And School Supplies', 'Tools', 'Jewelry',
       'Electronics And Technology', 'Sports', 'Cosmetics', 'Music',
       'Others', 'Cleaning Materials', 'Cosmetic'], dtype=object)

## Check price

In [15]:
price_statistics = df_products_lists['price'].describe()

print(price_statistics)

count    750.000000
mean      22.248000
std       13.643678
min        3.780000
25%       10.957500
50%       17.280000
75%       38.070000
max       55.460000
Name: price, dtype: float64

#### Check if there are values with three or more decimal places

In [16]:
greater_than_two_decimal_place = df_products_lists['price'].astype(
    str).str.contains(r'\.\d{3,}')

print(df_products_lists[greater_than_two_decimal_place])

Empty DataFrame
Columns: [Unnamed: 0, product_id, product_name, product_type, price]
Index: []

## Drop "Unnamed" column

// walang unnamed column sabi sa dept data sources "This contains the unique identified of the product, name of the product, the selling price, as well as the type of the product"

In [17]:
df_products_lists = df_products_lists.drop('Unnamed: 0', axis=1)
df_products_lists

,product_id,product_name,product_type,price
0,PRODUCT16794,Grandmas Swedish Thin Pancakes,Readymade Breakfast,12.81
1,PRODUCT61957,Chili Jack Oven Omelet,Readymade Breakfast,9.95
2,PRODUCT23890,Baked Pears,Readymade Breakfast,10.04
3,PRODUCT52912,Best Buttermilk Pancakes,Readymade Breakfast,5.83
4,PRODUCT56387,Blackberry Breakfast Bars,Readymade Breakfast,14.00
...,...,...,...,...
745,PRODUCT35203,Tomato,Grocery,17.28
746,PRODUCT34682,Bowl,Kitchenware,17.28
747,PRODUCT07137,Dehumidifier,Electronics And Technology,38.07
748,PRODUCT29484,Rice,Grocery,17.28
749,PRODUCT22046,Dove Deodorant,Health And Hygiene,6.11

## Check for duplicate product_id

In [18]:
duplicated_rows = df_products_lists[df_products_lists.duplicated(
    subset='product_id', keep=False)]

duplicate_counts = duplicated_rows['product_id'].value_counts()

for product_id, count in duplicate_counts.items():
    print(f"Product ID {product_id} has {count} duplicate rows.")

Product ID PRODUCT10592 has 2 duplicate rows.
Product ID PRODUCT61036 has 2 duplicate rows.
Product ID PRODUCT47439 has 2 duplicate rows.
Product ID PRODUCT62030 has 2 duplicate rows.
Product ID PRODUCT50527 has 2 duplicate rows.
Product ID PRODUCT38223 has 2 duplicate rows.
Product ID PRODUCT19599 has 2 duplicate rows.

In [19]:
duplicate_product_ids = ['PRODUCT10592', 'PRODUCT61036', 'PRODUCT47439',
                         'PRODUCT62030', 'PRODUCT50527', 'PRODUCT38223', 'PRODUCT19599']
duplicate_rows = df_products_lists[df_products_lists['product_id'].isin(
    duplicate_product_ids)]
duplicate_rows.sort_values(by='product_id', inplace=True)
duplicate_rows

C:\Users\Shaun Padrejuan\AppData\Local\Temp\ipykernel_14344\158028741.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicate_rows.sort_values(by='product_id', inplace=True)

,product_id,product_name,product_type,price
40,PRODUCT10592,Scrambled Egg Sandwiches With Onions And Red P...,Readymade Breakfast,13.18
437,PRODUCT10592,Tooth Pick,Health And Hygiene,6.11
680,PRODUCT19599,Oslo Paper,Stationary And School Supplies,5.74
684,PRODUCT19599,Christmas Ornament,Furniture,38.07
499,PRODUCT38223,Safety Pin,Accessories,5.74
542,PRODUCT38223,Fishing Hook,Accessories,5.74
62,PRODUCT47439,Purple Cow,Readymade Breakfast,10.89
327,PRODUCT47439,Pair Of Scissors,Tools,17.28
462,PRODUCT50527,Slipper,Apparel,17.28
509,PRODUCT50527,Sofa,Furniture,38.07
44,PRODUCT61036,Blueberry Banana Happy Face Pancakes,Readymade Breakfast,8.09
589,PRODUCT61036,Pair Of Binoculars,Tools,17.28
150,PRODUCT62030,Delicious Cheesy Bacon And Green Onion Potato ...,Readymade Lunch,19.76
401,PRODUCT62030,Chocolate,Grocery,17.28

In [20]:
df_products_lists['product_id'] = df_products_lists['product_id'].str.replace(
    'PRODUCT', '').astype(int)
df_products_lists

,product_id,product_name,product_type,price
0,16794,Grandmas Swedish Thin Pancakes,Readymade Breakfast,12.81
1,61957,Chili Jack Oven Omelet,Readymade Breakfast,9.95
2,23890,Baked Pears,Readymade Breakfast,10.04
3,52912,Best Buttermilk Pancakes,Readymade Breakfast,5.83
4,56387,Blackberry Breakfast Bars,Readymade Breakfast,14.00
...,...,...,...,...
745,35203,Tomato,Grocery,17.28
746,34682,Bowl,Kitchenware,17.28
747,7137,Dehumidifier,Electronics And Technology,38.07
748,29484,Rice,Grocery,17.28
749,22046,Dove Deodorant,Health And Hygiene,6.11

In [21]:
duplicate_product_ids = [10592, 61036, 47439,
                         62030, 50527, 38223, 19599]
duplicate_rows = df_products_lists[df_products_lists['product_id'].isin(
    duplicate_product_ids)]
duplicate_rows.sort_values(by='product_id', inplace=True)
duplicate_rows

C:\Users\Shaun Padrejuan\AppData\Local\Temp\ipykernel_14344\2403349790.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicate_rows.sort_values(by='product_id', inplace=True)

,product_id,product_name,product_type,price
40,10592,Scrambled Egg Sandwiches With Onions And Red P...,Readymade Breakfast,13.18
437,10592,Tooth Pick,Health And Hygiene,6.11
680,19599,Oslo Paper,Stationary And School Supplies,5.74
684,19599,Christmas Ornament,Furniture,38.07
499,38223,Safety Pin,Accessories,5.74
542,38223,Fishing Hook,Accessories,5.74
62,47439,Purple Cow,Readymade Breakfast,10.89
327,47439,Pair Of Scissors,Tools,17.28
462,50527,Slipper,Apparel,17.28
509,50527,Sofa,Furniture,38.07
44,61036,Blueberry Banana Happy Face Pancakes,Readymade Breakfast,8.09
589,61036,Pair Of Binoculars,Tools,17.28
150,62030,Delicious Cheesy Bacon And Green Onion Potato ...,Readymade Lunch,19.76
401,62030,Chocolate,Grocery,17.28

Add the index calue to the product id to make it unique

In [22]:
duplicate_rows = df_products_lists[df_products_lists.duplicated(
    'product_id', keep=False)].sort_values(by='product_id')

for index, row in duplicate_rows.iterrows():
    df_products_lists.loc[index,
                          'product_id'] = df_products_lists.loc[index, 'product_id'] + index

Check if there are still duplicate product id

In [23]:
result_one = df_products_lists[df_products_lists['product_name']
                               == 'Slipper']
result_two = df_products_lists[df_products_lists['product_name']
                               == 'Sofa']

print(result_one, ' ', result_two)

     product_id product_name product_type  price
462       50989      Slipper      Apparel  17.28        product_id product_name product_type  price
509       51036         Sofa    Furniture  38.07

In [24]:
duplicate_check = df_products_lists.duplicated('product_id', keep=False)

if duplicate_check.any():
    print("There are still duplicate product IDs.")
else:
    print("There are no duplicate product IDs.")

There are no duplicate product IDs.

Add the PRODUCT again

In [25]:
df_products_lists['product_id'] = 'PRODUCT' + \
    df_products_lists['product_id'].astype(str)
df_products_lists

,product_id,product_name,product_type,price
0,PRODUCT16794,Grandmas Swedish Thin Pancakes,Readymade Breakfast,12.81
1,PRODUCT61957,Chili Jack Oven Omelet,Readymade Breakfast,9.95
2,PRODUCT23890,Baked Pears,Readymade Breakfast,10.04
3,PRODUCT52912,Best Buttermilk Pancakes,Readymade Breakfast,5.83
4,PRODUCT56387,Blackberry Breakfast Bars,Readymade Breakfast,14.00
...,...,...,...,...
745,PRODUCT35203,Tomato,Grocery,17.28
746,PRODUCT34682,Bowl,Kitchenware,17.28
747,PRODUCT7137,Dehumidifier,Electronics And Technology,38.07
748,PRODUCT29484,Rice,Grocery,17.28
749,PRODUCT22046,Dove Deodorant,Health And Hygiene,6.11

## Checking for Nullity

In [26]:
df_products_lists.isnull().sum()

product_id      0
product_name    0
product_type    0
price           0
dtype: int64

In [27]:
df_products_lists[df_products_lists['product_type'].isnull()].head()

Empty DataFrame
Columns: [product_id, product_name, product_type, price]
Index: []

#### Check if there are other rows with the same product name

In [28]:
df_products_lists[df_products_lists['product_name'] == 'Bottle Of Paint']

       product_id     product_name                    product_type  price
736  PRODUCT58030  Bottle Of Paint  Stationary And School Supplies  21.26

#### Drop rows with null value in product type

In [29]:
df_products_lists = df_products_lists.dropna(subset=['product_type'])
df_products_lists[df_products_lists['product_type'].isnull()].head()

Empty DataFrame
Columns: [product_id, product_name, product_type, price]
Index: []

In [30]:
df_products_lists.isnull().sum()

product_id      0
product_name    0
product_type    0
price           0
dtype: int64

## Check the final dataframe

In [31]:
df_products_lists

,product_id,product_name,product_type,price
0,PRODUCT16794,Grandmas Swedish Thin Pancakes,Readymade Breakfast,12.81
1,PRODUCT61957,Chili Jack Oven Omelet,Readymade Breakfast,9.95
2,PRODUCT23890,Baked Pears,Readymade Breakfast,10.04
3,PRODUCT52912,Best Buttermilk Pancakes,Readymade Breakfast,5.83
4,PRODUCT56387,Blackberry Breakfast Bars,Readymade Breakfast,14.00
...,...,...,...,...
745,PRODUCT35203,Tomato,Grocery,17.28
746,PRODUCT34682,Bowl,Kitchenware,17.28
747,PRODUCT7137,Dehumidifier,Electronics And Technology,38.07
748,PRODUCT29484,Rice,Grocery,17.28
749,PRODUCT22046,Dove Deodorant,Health And Hygiene,6.11

## Convert to parquet

In [32]:
df_products_lists.to_parquet(
    'Business Department/product_list.parquet', index=False)