In [17]:
import pandas as pd
import numpy as np
import openpyxl

## Business Department Data Profile

In [18]:
df_products_lists = pd.read_excel('Business Department/product_list.xlsx', engine = 'openpyxl')
print(df_products_lists)
print(df_products_lists.columns.ravel())

     Unnamed: 0    product_id                    product_name  \
0             0  PRODUCT16794  Grandmas swedish thin pancakes
1             1  PRODUCT61957          Chili jack oven omelet
2             2  PRODUCT23890                     Baked pears
3             3  PRODUCT52912        Best buttermilk pancakes
4             4  PRODUCT56387       Blackberry breakfast bars
..          ...           ...                             ...
745         445  PRODUCT35203                          tomato
746         446  PRODUCT34682                            bowl
747         447  PRODUCT07137                    dehumidifier
748         448  PRODUCT29484                            rice
749         449  PRODUCT22046                  dove deodorant

                   product_type  price
0           readymade_breakfast  12.81
1           readymade_breakfast   9.95
2           readymade_breakfast  10.04
3           readymade_breakfast   5.83
4           readymade_breakfast  14.00
..                          ...    ...
745                     grocery  17.28
746                 kitchenware  17.28
747  electronics and technology  38.07
748                     grocery  17.28
749          health and hygiene   6.11

[750 rows x 5 columns]
Index(['Unnamed: 0', 'product_id', 'product_name', 'product_type', 'price'], dtype='object')

In [19]:
products = df_products_lists.set_index('product_id')
products.head()

,Unnamed: 0,product_name,product_type,price
product_id,,,,
PRODUCT16794,0,Grandmas swedish thin pancakes,readymade_breakfast,12.81
PRODUCT61957,1,Chili jack oven omelet,readymade_breakfast,9.95
PRODUCT23890,2,Baked pears,readymade_breakfast,10.04
PRODUCT52912,3,Best buttermilk pancakes,readymade_breakfast,5.83
PRODUCT56387,4,Blackberry breakfast bars,readymade_breakfast,14.00

## Checking for Nullity

In [20]:
df_products_lists.isnull().sum()

Unnamed: 0      0
product_id      0
product_name    0
product_type    1
price           0
dtype: int64

check for duplicate

In [21]:
print(df_products_lists.duplicated().sum())

0

duplicates with same name but different ID

In [22]:
df_products_lists[df_products_lists['product_name'] == 'Blackberry breakfast bars'].head()

,Unnamed: 0,product_id,product_name,product_type,price
4,4,PRODUCT56387,Blackberry breakfast bars,readymade_breakfast,14.00
87,87,PRODUCT54639,Blackberry breakfast bars,readymade_breakfast,14.36

In [23]:
df_products_lists[df_products_lists['product_name'] == 'bookmark'].head()

     Unnamed: 0    product_id product_name product_type  price
349          49  PRODUCT47288     bookmark  accessories   5.74

In [24]:
df_products_lists[df_products_lists['product_name'] == 'saw'].head()

     Unnamed: 0    product_id product_name product_type  price
541         241  PRODUCT33489          saw        tools  17.28

In [25]:
df_products_lists[df_products_lists['product_name'] == 'air fryer'].head()

     Unnamed: 0    product_id product_name                product_type  price
595         295  PRODUCT49814    air fryer  electronics and technology  38.07

In [26]:
df_products_lists[df_products_lists['product_name'] == 'handheld game system'].head()

,Unnamed: 0,product_id,product_name,product_type,price
683,383,PRODUCT27609,handheld game system,electronics and technology,38.07