In [1]:
import pandas as pd
import numpy as np
import html5lib
import lxml
from bs4 import BeautifulSoup

## Merchant Data

In [2]:
df_merchant_data = pd.read_html('Enterprise Department/merchant_data.html')
df_merchant_data[0]

,Unnamed: 0,merchant_id,creation_date,name,street,state,city,country,contact_number
0,0,MERCHANT53971,2022-06-28 11:42:04,Whitby Group,813 North Isle bury,South Carolina,Boise,Brunei Darussalam,661.157.5528
1,1,MERCHANT56138,2020-08-27 20:35:19,YourMapper,54861 Springs view,Colorado,Cleveland,Sint Maarten (Dutch part),(046)415-8092
2,2,MERCHANT31852,2021-08-05 12:04:33,United Mayflower,730 East Islands side,Virginia,Atlanta,Mali,939.273.0312
3,3,MERCHANT63299,2021-08-15 19:00:03,TransparaGov,2619 Coves haven,Maine,Indianapolis,Chad,1-181-438-5899
4,4,MERCHANT16722,2023-02-28 20:35:34,Maponics,979 North Rue borough,Wyoming,Boise,Guatemala,494-319-8223
...,...,...,...,...,...,...,...,...,...
4995,4995,MERCHANT54074,2021-10-16 18:18:52,KLD Research,5760 Rapids mouth,Connecticut,Wichita,Holy See,(499)792-6191
4996,4996,MERCHANT41034,2020-04-25 23:45:42,LoopNet,532 Walks bury,Iowa,Madison,Oman,484.217.8833
4997,4997,MERCHANT55677,2020-07-25 13:12:36,Marlin & Associates,44600 Park port,South Dakota,Wichita,Mauritania,1-681-783-5079
4998,4998,MERCHANT44767,2021-09-28 21:25:24,Accenture,217 West Estates stad,Michigan,San Francisco,Egypt,628-405-2478
4999,4999,MERCHANT58991,2020-12-03 12:58:45,Arpin Van Lines,12166 Coves berg,West Virginia,Scottsdale,South Africa,1-678-937-3157

## Order with Merchant 1

In [3]:
df_merchant_1 = pd.read_parquet('Enterprise Department/order_with_merchant_data1.parquet')
print(df_merchant_1)
print(df_merchant_1.columns.ravel())
df_merchant_1.isnull().sum()

                                   order_id    merchant_id      staff_id
0      eac330c0-457a-4faa-b15a-52a3c440e7f3  MERCHANT58557  STAFF0027757
1      e1beaf61-e687-4e70-bdd4-3ea338139a0b   MERCHANT0605  STAFF0039068
2      0612c246-57f1-40e8-9993-0f8d41992049  MERCHANT22282  STAFF0058495
3      a800f0d9-47d8-455b-b096-622e76156705  MERCHANT39307  STAFF0038632
4      b4c411de-2fd3-4806-91ae-165edc9baa12  MERCHANT26962  STAFF0035568
...                                     ...            ...           ...
99995  a72f9936-fea8-427c-869b-a9587e0dfebe  MERCHANT11270  STAFF0016364
99996  d55e57f3-0543-4725-8b2c-007958b7b858  MERCHANT54423  STAFF0043207
99997  758e9edc-b790-47c5-b785-426919339ef1  MERCHANT55289  STAFF0054414
99998  f662ffdf-32ae-4a5f-a326-de658db9eb5d  MERCHANT39525  STAFF0064079
99999  8ed751f5-80ae-454d-bac6-2e98c138cb65   MERCHANT7346  STAFF0013034

[100000 rows x 3 columns]
Index(['order_id', 'merchant_id', 'staff_id'], dtype='object')

order_id       0
merchant_id    0
staff_id       0
dtype: int64

## Orders with Merchant 2

In [4]:
df_merchant_2 = pd.read_parquet('Enterprise Department/order_with_merchant_data2.parquet')
print(df_merchant_2)
print(df_merchant_2.columns.ravel())
df_merchant_2.isnull().sum()

                                    order_id    merchant_id      staff_id
100000  848f9cad-c4d3-4822-83e9-322ae73261c3   MERCHANT9789  STAFF0020354
100001  be97922b-20fb-4244-9e25-bac98b209668  MERCHANT43424  STAFF0061355
100002  dc905240-5fcd-45e4-8077-be831e1f0263  MERCHANT23900  STAFF0038795
100003  11cd8029-61f2-4bc8-a148-cb1a4afd8b57  MERCHANT58797  STAFF0023844
100004  69c9e6fc-326e-4f2d-98c6-5360b91cfb84  MERCHANT41587  STAFF0022537
...                                      ...            ...           ...
299995  86f5d57b-a787-43ed-8b2c-f4f9a52f5033  MERCHANT15934  STAFF0009370
299996  7a57393e-7c8f-4d9c-ba3c-4711e739fd6e   MERCHANT0688  STAFF0022143
299997  5c442281-170a-4344-8d0f-3c31f3f02b25  MERCHANT58009  STAFF0018140
299998  aecebd35-355e-4f87-acc7-bcca013dceed  MERCHANT33284  STAFF0023079
299999  a2498394-9e81-4416-b0ea-443e584e77cc   MERCHANT1615  STAFF0008378

[200000 rows x 3 columns]
Index(['order_id', 'merchant_id', 'staff_id'], dtype='object')

order_id       0
merchant_id    0
staff_id       0
dtype: int64

## Order with Merchant 3

In [5]:
df_merchant_3 = pd.read_csv('Enterprise Department/order_with_merchant_data3.csv')
print(df_merchant_3)
print(df_merchant_3.columns.ravel())
df_merchant_3.isnull().sum()

        Unnamed: 0                              order_id    merchant_id  \
0           300000  e8bafe72-d506-4437-b357-f38682353238  MERCHANT13004
1           300001  eae5e846-c16b-4959-9f90-331c355951ff  MERCHANT17176
2           300002  913f901b-d488-49be-bcaf-86fcd581a528   MERCHANT0855
3           300003  8479d795-6c4d-41d0-a0c7-4ca9c3c3ca31  MERCHANT40576
4           300004  2aaae5b3-c858-4d05-b92f-cd2085201c66  MERCHANT32289
...            ...                                   ...            ...
199995      499995  ba506489-1505-481d-b0b1-8cdbf04a515f  MERCHANT64706
199996      499996  551a54f1-1a7f-4a1d-a7c7-62afb433b4f4  MERCHANT12240
199997      499997  2b2e775f-d6cd-4659-9a88-b4950bc326c0  MERCHANT39339
199998      499998  949eb760-8022-4f0b-9e6c-3ddb049a25fd   MERCHANT1546
199999      499999  4d1c5613-a48e-4b18-b016-bb639a1d5490  MERCHANT10900

            staff_id
0       STAFF0009879
1       STAFF0045676
2       STAFF0031852
3       STAFF0052472
4       STAFF0031305
...              ...
199995  STAFF0002455
199996  STAFF0065523
199997  STAFF0039868
199998  STAFF0041085
199999  STAFF0057025

[200000 rows x 4 columns]
Index(['Unnamed: 0', 'order_id', 'merchant_id', 'staff_id'], dtype='object')

Unnamed: 0     0
order_id       0
merchant_id    0
staff_id       0
dtype: int64

## Staff Data

In [6]:
df_merchant_data = pd.read_html('Enterprise Department/staff_data.html')
df_merchant_data[0]

,Unnamed: 0,staff_id,name,job_level,street,state,city,country,contact_number,creation_date
0,0,STAFF0009650,Randall Bergstrom,intermediate,376 Land chester,Texas,Omaha,Cook Islands,(138)548-8481,2020-09-04 02:33:28
1,1,STAFF0039964,Christian Hessel,intermediate,945 West Camp shire,New Mexico,San Diego,Pakistan,393-164-5574,2020-08-08 06:50:47
2,2,STAFF0044932,Edgardo Fadel,entry,997 Expressway town,Rhode Island,Corpus Christi,Albania,328.133.8850,2020-02-10 16:49:18
3,3,STAFF0015819,Jordi Gleichner,entry,720 Centers burgh,Virginia,Bakersfield,Timor-Leste,649.258.8115,2021-06-11 11:30:29
4,4,STAFF0036616,Price Hintz,intermediate,1720 North Skyway burgh,Alabama,Scottsdale,"Palestine, State of",977-698-2305,2020-08-10 10:37:55
...,...,...,...,...,...,...,...,...,...,...
4995,4995,STAFF0023027,Felicia Keeling,intermediate,8564 Courts town,Idaho,Anaheim,Timor-Leste,167-344-4583,2023-03-17 14:32:11
4996,4996,STAFF0046023,Leonardo Wiza,intermediate,997 Port Branch bury,Minnesota,Raleigh,Israel,1-589-339-3757,2020-02-26 06:34:01
4997,4997,STAFF0021174,Blake Huels,entry,4498 Bypass shire,Indiana,Nashville-Davidson,Zambia,523.422.0032,2023-03-17 21:09:18
4998,4998,STAFF0000759,Darrell Ward,intermediate,1934 New Flats fort,Mississippi,Chicago,Greenland,661-368-4699,2022-01-13 09:45:18
4999,4999,STAFF0008057,Idell Kilback,entry,256 East Courts view,Tennessee,Charlotte,Bahrain,995-556-9058,2021-06-01 10:05:25