In [1]:
import pandas as pd
import numpy as np
import openpyxl
import html5lib
import lxml
from bs4 import BeautifulSoup

## Line Item Data Price 1

In [2]:
df_line_item_prices1 = pd.read_csv('Operations Department/line_item_data_prices1.csv')
print(df_line_item_prices1)
print(df_line_item_prices1.columns.ravel())
df_line_item_prices1.isnull().sum()

        Unnamed: 0                              order_id  price quantity
0                0  8d8acbac-ccbb-4609-a978-98dee3ac3088  12.81      6px
1                1  59e4c308-5262-486d-9f1a-12b1278e3c44  14.00  6pieces
2                2  30fc1b76-c488-4077-8d70-3236e3afc990   6.78     4pcs
3                3  6b273d38-b472-4bb2-8b74-a26705c707fa   8.72      4px
4                4  6b273d38-b472-4bb2-8b74-a26705c707fa   8.83  5pieces
...            ...                                   ...    ...      ...
499995      499995  61c1751e-f17b-494a-a9a2-33c6694d6036  38.07   1piece
499996      499996  61c1751e-f17b-494a-a9a2-33c6694d6036  38.07     3pcs
499997      499997  44f739c2-73f4-491c-a932-c1362831e0e3  38.07  1pieces
499998      499998  44f739c2-73f4-491c-a932-c1362831e0e3  38.07      1PC
499999      499999  f1c591a5-fd7c-498f-ae4e-2739334878ce  38.07  1pieces

[500000 rows x 4 columns]
Index(['Unnamed: 0', 'order_id', 'price', 'quantity'], dtype='object')

Unnamed: 0    0
order_id      0
price         0
quantity      0
dtype: int64

## Line Item Data Price 2

In [3]:
df_line_item_prices2 = pd.read_csv('Operations Department/line_item_data_prices2.csv')
print(df_line_item_prices2)
print(df_line_item_prices2.columns.ravel())
df_line_item_prices2.isnull().sum()

        Unnamed: 0                              order_id  price quantity
0           500000  f1c591a5-fd7c-498f-ae4e-2739334878ce  38.07      4PC
1           500001  8a720341-a145-4a7c-b2d5-ac3c6e0d8da8  38.07     4pcs
2           500002  8a720341-a145-4a7c-b2d5-ac3c6e0d8da8  38.07     4PCs
3           500003  fd365f1c-9c25-4544-b4b2-fd9f55d3e6e2  38.07     2PCs
4           500004  fd365f1c-9c25-4544-b4b2-fd9f55d3e6e2  38.07  4pieces
...            ...                                   ...    ...      ...
499995      999995  1e199808-c7b5-4fba-ab74-6ff46d3195fb  38.62   5piece
499996      999996  552e5cdc-6e1d-4b90-a721-012644ffc42f  36.11     9PCs
499997      999997  552e5cdc-6e1d-4b90-a721-012644ffc42f  36.11     5pcs
499998      999998  060d9363-3ce4-4acf-9195-5c9e6d835fc5  52.55      5PC
499999      999999  060d9363-3ce4-4acf-9195-5c9e6d835fc5  52.55    10pcs

[500000 rows x 4 columns]
Index(['Unnamed: 0', 'order_id', 'price', 'quantity'], dtype='object')

Unnamed: 0    0
order_id      0
price         0
quantity      0
dtype: int64

## Line Item Data Price 3

In [4]:
df_line_item_prices3 = pd.read_parquet('Operations Department/line_item_data_prices3.parquet')
print(df_line_item_prices3)
print(df_line_item_prices3.columns.ravel())
df_line_item_prices3.isnull().sum()

        Unnamed: 0                              order_id  price quantity
0          1000000  dc70f978-3a6b-4baf-b97e-4a88690a34fe  42.13      8PC
1          1000001  dc70f978-3a6b-4baf-b97e-4a88690a34fe  42.13   5piece
2          1000002  3556b3e7-046a-4148-b1cb-d86ee7ee5421  42.13     10PC
3          1000003  3556b3e7-046a-4148-b1cb-d86ee7ee5421  42.13     5pcs
4          1000004  29b63149-3b3c-4309-a751-7d0a563f7c12  40.87      5PC
...            ...                                   ...    ...      ...
997169     1997169  8a985165-e1b4-4f91-a8c4-86f54c806a9c  17.28     5pcs
997170     1997170  7285b9ed-a45a-4aa0-86fb-2abae50780f8  17.28   5piece
997171     1997171  35ad8f1d-9014-4430-bed3-f803b46d48a6  38.07     6PCs
997172     1997172  38320c44-fea2-46b1-adfc-c4be22865c78  17.28  3pieces
997173     1997173  0446efea-bbb6-4d85-aa6e-51381f440595  17.28   4piece

[997174 rows x 4 columns]
Index(['Unnamed: 0', 'order_id', 'price', 'quantity'], dtype='object')

Unnamed: 0    0
order_id      0
price         0
quantity      0
dtype: int64

## Line Item Data Products 1

In [5]:
df_line_item_products1 = pd.read_csv('Operations Department/line_item_data_products1.csv')
print(df_line_item_products1)
print(df_line_item_products1.columns.ravel())
df_line_item_products1.isnull().sum()

        Unnamed: 0                              order_id  \
0                0  8d8acbac-ccbb-4609-a978-98dee3ac3088
1                1  59e4c308-5262-486d-9f1a-12b1278e3c44
2                2  30fc1b76-c488-4077-8d70-3236e3afc990
3                3  6b273d38-b472-4bb2-8b74-a26705c707fa
4                4  6b273d38-b472-4bb2-8b74-a26705c707fa
...            ...                                   ...
499995      499995  61c1751e-f17b-494a-a9a2-33c6694d6036
499996      499996  61c1751e-f17b-494a-a9a2-33c6694d6036
499997      499997  44f739c2-73f4-491c-a932-c1362831e0e3
499998      499998  44f739c2-73f4-491c-a932-c1362831e0e3
499999      499999  f1c591a5-fd7c-498f-ae4e-2739334878ce

                          product_name    product_id
0       Grandmas swedish thin pancakes  PRODUCT16794
1            Blackberry breakfast bars  PRODUCT56387
2                 Moms cheat doughnuts  PRODUCT26612
3            Baked swiss cheese omelet  PRODUCT17344
4                          Egg flowers  PRODUCT07816
...                                ...           ...
499995                           clock  PRODUCT14601
499996                           clock  PRODUCT14601
499997                           clock  PRODUCT14601
499998                           clock  PRODUCT14601
499999                           clock  PRODUCT14601

[500000 rows x 4 columns]
Index(['Unnamed: 0', 'order_id', 'product_name', 'product_id'], dtype='object')

Unnamed: 0      0
order_id        0
product_name    0
product_id      0
dtype: int64

## Line Item Data Products 2

In [6]:
df_line_item_products2 = pd.read_csv('Operations Department/line_item_data_products2.csv')
print(df_line_item_products2)
print(df_line_item_products2.columns.ravel())
df_line_item_products2.isnull().sum()

        Unnamed: 0                              order_id  \
0           500000  f1c591a5-fd7c-498f-ae4e-2739334878ce
1           500001  8a720341-a145-4a7c-b2d5-ac3c6e0d8da8
2           500002  8a720341-a145-4a7c-b2d5-ac3c6e0d8da8
3           500003  fd365f1c-9c25-4544-b4b2-fd9f55d3e6e2
4           500004  fd365f1c-9c25-4544-b4b2-fd9f55d3e6e2
...            ...                                   ...
499995      999995  1e199808-c7b5-4fba-ab74-6ff46d3195fb
499996      999996  552e5cdc-6e1d-4b90-a721-012644ffc42f
499997      999997  552e5cdc-6e1d-4b90-a721-012644ffc42f
499998      999998  060d9363-3ce4-4acf-9195-5c9e6d835fc5
499999      999999  060d9363-3ce4-4acf-9195-5c9e6d835fc5

                                   product_name    product_id
0                                         clock  PRODUCT14601
1                                 book of jokes  PRODUCT63300
2                                 book of jokes  PRODUCT63300
3                                 book of jokes  PRODUCT63300
4                                 book of jokes  PRODUCT63300
...                                         ...           ...
499995  Goat cheese black olive mashed potatoes  PRODUCT23102
499996                             Maple coffee  PRODUCT26180
499997                             Maple coffee  PRODUCT26180
499998       Sweet onion and mashed potato bake  PRODUCT22318
499999       Sweet onion and mashed potato bake  PRODUCT22318

[500000 rows x 4 columns]
Index(['Unnamed: 0', 'order_id', 'product_name', 'product_id'], dtype='object')

Unnamed: 0      0
order_id        0
product_name    0
product_id      0
dtype: int64

## Line Item Data Products 3

In [7]:
df_line_item_products3 = pd.read_parquet('Operations Department/line_item_data_products3.parquet')
print(df_line_item_products3)
print(df_line_item_products3.columns.ravel())
df_line_item_products3.isnull().sum()

        Unnamed: 0                              order_id  \
0          1000000  dc70f978-3a6b-4baf-b97e-4a88690a34fe
1          1000001  dc70f978-3a6b-4baf-b97e-4a88690a34fe
2          1000002  3556b3e7-046a-4148-b1cb-d86ee7ee5421
3          1000003  3556b3e7-046a-4148-b1cb-d86ee7ee5421
4          1000004  29b63149-3b3c-4309-a751-7d0a563f7c12
...            ...                                   ...
997169     1997169  8a985165-e1b4-4f91-a8c4-86f54c806a9c
997170     1997170  7285b9ed-a45a-4aa0-86fb-2abae50780f8
997171     1997171  35ad8f1d-9014-4430-bed3-f803b46d48a6
997172     1997172  38320c44-fea2-46b1-adfc-c4be22865c78
997173     1997173  0446efea-bbb6-4d85-aa6e-51381f440595

                             product_name    product_id
0       Swedish cucumber salad pressgurka  PRODUCT20506
1       Swedish cucumber salad pressgurka  PRODUCT20506
2       Swedish cucumber salad pressgurka  PRODUCT20506
3       Swedish cucumber salad pressgurka  PRODUCT20506
4                       Savory pita chips  PRODUCT34708
...                                   ...           ...
997169                             tomato  PRODUCT35203
997170                             tomato  PRODUCT35203
997171                       dehumidifier  PRODUCT07137
997172                               rice  PRODUCT29484
997173                               rice  PRODUCT29484

[997174 rows x 4 columns]
Index(['Unnamed: 0', 'order_id', 'product_name', 'product_id'], dtype='object')

Unnamed: 0      0
order_id        0
product_name    0
product_id      0
dtype: int64

## Order Data - January 01, 2020 - July 01, 2020

In [8]:
df_order_data1 = pd.read_parquet('Operations Department/order_data_20200101-20200701.parquet')
print(df_order_data1)
print(df_order_data1.columns.ravel())
df_order_data1.isnull().sum()

                                    order_id    user_id estimated arrival  \
12      0248bb48-d0d0-4a11-a158-f620640a757a  USER16283            13days
19      14473b59-6c4f-429e-89ef-ce920b209df3  USER08179             8days
25      62b8fabf-4e0a-4383-8b3a-7276c77f9e8c  USER55688            10days
29      96a01cee-071d-4e10-a9e4-56a31b82a9d5  USER34967             8days
37      479b1a6c-3a76-41a7-b15d-71acd4045080  USER07130            15days
...                                      ...        ...               ...
499969  8e35842b-c688-47da-b61f-cfd436f2edde  USER23432            15days
499980  05ca3879-4ca4-4f53-a94c-13c3de8c92a7  USER36687             8days
499983  ca6d1f78-97c9-4ece-9c36-eb6b98d8c02d  USER24773             6days
499984  c2232dd6-cc44-4ec7-a079-1ad1724cb487  USER43039             4days
499995  ba506489-1505-481d-b0b1-8cdbf04a515f  USER02322             6days

       transaction_date
12           2020-06-04
19           2020-04-07
25           2020-05-07
29           2020-06-05
37           2020-05-24
...                 ...
499969       2020-02-10
499980       2020-02-24
499983       2020-05-16
499984       2020-06-04
499995       2020-04-12

[63024 rows x 4 columns]
Index(['order_id', 'user_id', 'estimated arrival', 'transaction_date'], dtype='object')

order_id             0
user_id              0
estimated arrival    0
transaction_date     0
dtype: int64

## Order Data - July 01, 2020 - October 01, 2021

In [9]:
df_order_data2 = pd.read_pickle('Operations Department/order_data_20200701-20211001.pickle')
print(df_order_data2)
print(df_order_data2.columns.ravel())
df_order_data2.isnull().sum()

                                    order_id    user_id estimated arrival  \
1       e1beaf61-e687-4e70-bdd4-3ea338139a0b  USER36309            13days
10      4cad07a9-dca9-47a0-86f1-f83671d05260  USER46704             5days
14      8750f8c5-380c-4bbd-bb54-8a2b5e5958ac  USER32071            10days
15      3d77b756-0f11-4145-9fac-8f229611ac39  USER47160             3days
16      3312851e-28dc-4508-8003-09ba304ce9e2  USER15307            11days
...                                      ...        ...               ...
499964  b638ebb0-396b-48c3-b0e5-286c5976be33  USER34485             4days
499970  61aa91d0-c989-452b-a688-bb326bb1c440  USER43788            12days
499979  188833ff-44ee-442d-b405-5ac0be71233e  USER26701             9days
499985  3e259fd4-8079-4181-b2b9-d8b3db7ca8bd  USER11796             6days
499996  551a54f1-1a7f-4a1d-a7c7-62afb433b4f4  USER13970            15days

       transaction_date
1            2021-01-01
10           2021-09-22
14           2020-07-06
15           2021-09-25
16           2020-07-01
...                 ...
499964       2020-11-30
499970       2020-10-11
499979       2021-08-31
499985       2021-08-09
499996       2021-02-26

[159725 rows x 4 columns]
Index(['order_id', 'user_id', 'estimated arrival', 'transaction_date'], dtype='object')

order_id             0
user_id              0
estimated arrival    0
transaction_date     0
dtype: int64

## Order Data - October 01, 2021 - January 01, 2022

In [10]:
df_order_data3 = pd.read_csv('Operations Department/order_data_20211001-20220101.csv')
print(df_order_data3)
print(df_order_data3.columns.ravel())
df_order_data3.isnull().sum()

       Unnamed: 0                              order_id    user_id  \
0               4  b4c411de-2fd3-4806-91ae-165edc9baa12  USER28531
1               7  d42d7e7a-71bd-43aa-8bed-49d52b74d4eb  USER56935
2              41  84295de8-90c2-4e67-a1d9-b1ffab45623f  USER11824
3              43  74a59808-b7f5-4dc1-b441-a8e0e15b49b6  USER51578
4              61  b3965e7d-23d7-475b-93f0-13b49a999030  USER51925
...           ...                                   ...        ...
32283      499959  a5021293-525b-4f3d-8d6a-16b70bbef542  USER46830
32284      499965  d5dbea32-829e-474c-8d88-cadcb993a944  USER23251
32285      499966  590caead-83dd-4273-820c-5bd2c84a92a6  USER14981
32286      499976  833311eb-cc8d-4348-b7d7-0aecba5b577e  USER62122
32287      499993  4d0570e9-d6cc-4ef7-95c1-e8c5ec810d37  USER24281

      estimated arrival transaction_date
0                13days       2021-10-12
1                13days       2021-10-15
2                13days       2021-10-11
3                15days       2021-10-22
4                 9days       2021-10-09
...                 ...              ...
32283             7days       2021-12-03
32284             8days       2021-11-23
32285            12days       2021-11-24
32286            12days       2021-11-26
32287             6days       2021-12-06

[32288 rows x 5 columns]
Index(['Unnamed: 0', 'order_id', 'user_id', 'estimated arrival',
       'transaction_date'],
      dtype='object')

Unnamed: 0           0
order_id             0
user_id              0
estimated arrival    0
transaction_date     0
dtype: int64

## Order Data - January 01, 2022 - December 01, 2022

In [11]:
df_order_data4 = pd.read_excel('Operations Department/order_data_20220101-20221201.xlsx', engine = 'openpyxl')
print(df_order_data4)
print(df_order_data4.columns.ravel())
df_order_data4.isnull().sum()

        Unnamed: 0                              order_id    user_id  \
0                0  eac330c0-457a-4faa-b15a-52a3c440e7f3  USER23985
1                3  a800f0d9-47d8-455b-b096-622e76156705  USER44549
2                8  26b60a4e-aafe-4b99-bace-034d088a4a53  USER53013
3               13  96c718b3-0de0-482c-8b05-9081d47314c6  USER55595
4               21  0e6eeff9-dc85-4e22-9d0d-0758f2e321f6  USER29425
...            ...                                   ...        ...
117168      499982  ceafa665-307f-4c9e-b1bd-79577a450eb9  USER17572
117169      499986  f628455c-ad0a-444f-96c3-931f6a1912e9  USER21194
117170      499987  38973532-903e-49e6-9d13-61dd5fdebf6e  USER14772
117171      499990  6a5163c2-ba62-461c-a729-5b06fe266bd9  USER40321
117172      499991  883e2fe2-bbdf-4b5e-8348-c2bcba07da0e  USER54177

       estimated arrival transaction_date
0                 12days       2022-08-13
1                  9days       2022-11-11
2                  8days       2022-01-05
3                  8days       2022-05-29
4                  8days       2022-11-17
...                  ...              ...
117168            12days       2022-02-14
117169             9days       2022-01-23
117170            11days       2022-06-06
117171            12days       2022-04-14
117172            15days       2022-11-23

[117173 rows x 5 columns]
Index(['Unnamed: 0', 'order_id', 'user_id', 'estimated arrival',
       'transaction_date'],
      dtype='object')

Unnamed: 0           0
order_id             0
user_id              0
estimated arrival    0
transaction_date     0
dtype: int64

## Order Data - December 01, 2022 - June 01, 2023

In [12]:
df_order_data5 = pd.read_json('Operations Department/order_data_20221201-20230601.json')
print(df_order_data5)
print(df_order_data5.columns.ravel())
df_order_data5.isnull().sum()

                                    order_id    user_id estimated arrival  \
6       26de6b40-db2d-40b9-a64c-58736eaf0381  USER36943             3days
11      71ef25bd-1146-4ac9-b371-ede0cda08093  USER10211             7days
34      d06a6ad2-b254-4cc6-8397-4c9bf1a2823e  USER28839             3days
44      8bfbd31b-5a72-4c80-9e95-9168e9d822e3  USER00089             4days
45      3fab0712-4542-4779-89cc-29518063ce8f  USER63283            12days
...                                      ...        ...               ...
499975  1823e6f4-8ce3-4e20-b147-afa70f0e6fc1  USER34522             8days
499988  222f2012-ca46-4822-ad1a-ed8d80b824b7  USER31933            13days
499994  1043b5cf-7940-4b3e-93b2-2bdc5d7b7b52  USER59787            14days
499997  2b2e775f-d6cd-4659-9a88-b4950bc326c0  USER55001            15days
499999  4d1c5613-a48e-4b18-b016-bb639a1d5490  USER38370            12days

       transaction_date
6            2023-01-30
11           2023-04-13
34           2023-04-05
44           2023-04-07
45           2023-04-18
...                 ...
499975       2023-02-12
499988       2022-12-23
499994       2023-03-23
499997       2023-03-24
499999       2023-04-03

[63744 rows x 4 columns]
Index(['order_id', 'user_id', 'estimated arrival', 'transaction_date'], dtype='object')

order_id             0
user_id              0
estimated arrival    0
transaction_date     0
dtype: int64

## Order Data - June 01, 2023 - January 01, 2024

In [13]:
df_order_data6 = pd.read_html('Operations Department/order_data_20230601-20240101.html')
df_order_data6[0]

,Unnamed: 0,order_id,user_id,estimated arrival,transaction_date
0,2,0612c246-57f1-40e8-9993-0f8d41992049,USER24284,10days,2023-08-14
1,5,74e7c07a-d266-492f-a8f7-22987013d7e1,USER47513,15days,2023-10-30
2,9,4aab29ae-e610-46bf-92af-199f6f420cee,USER50778,14days,2023-09-19
3,18,89c3c238-2ae5-4883-bba5-08e23dbedee3,USER44062,8days,2023-07-11
4,20,03c25b03-a7cc-4758-8490-cdd5dd492646,USER48153,15days,2023-07-21
...,...,...,...,...,...
64041,499974,567ef043-cc78-42af-90cc-9e92a240479f,USER28093,3days,2023-10-08
64042,499981,8fd537e1-a0b6-434f-a928-f37a19c54c05,USER14801,3days,2023-10-13
64043,499989,a2561340-c850-4f85-8e20-e9ceccd10608,USER05932,3days,2023-11-07
64044,499992,575b0a2d-5539-4565-a10b-1f4f6516cd27,USER59342,12days,2023-07-28
64045,499998,949eb760-8022-4f0b-9e6c-3ddb049a25fd,USER04177,4days,2023-08-16

## Order Delay

In [14]:
df_order_delays = pd.read_html('Operations Department/order_delays.html')
df_order_delays[0]

        Unnamed: 0                              order_id  delay in days
0            24261  a0c62902-2728-4b38-bf40-89816ebe183f              9
1           345824  17902aef-e623-48c0-a865-ab427be0f114              7
2           398475  ce47737b-2253-4ff6-90c6-2b5955d1de1e              7
3           241232  fc3312cf-f014-4c14-a04d-b26403835c03              5
4           446720  c0053e4c-5b10-4e31-97f6-2d60866e2fbb              6
...            ...                                   ...            ...
199995      369126  39beb902-0b9f-40ce-a75c-3f9a1186bda1              5
199996      297765  336c76e4-92fa-463a-b12a-0e67fa177f9c              4
199997      248134  703941d7-aaff-4f16-b34e-70ec2b3d29bf              0
199998      274209  f3cdd72c-4a6d-4a34-9388-29b4a46e6b51              2
199999      330898  5273a961-97c7-48b4-bc81-934ce0833cde              0

[200000 rows x 3 columns]