In [ ]:
import pandas as pd
import numpy as np
import openpyxl
import html5lib
import lxml
from bs4 import BeautifulSoup

## Line Item Data Price 1

In [ ]:
df_line_item_prices1 = pd.read_csv('Operations Department/line_item_data_prices1.csv')
print(df_line_item_prices1)
print(df_line_item_prices1.columns.ravel())
df_line_item_prices1.isnull().sum()

## Line Item Data Price 2

In [ ]:
df_line_item_prices2 = pd.read_csv('Operations Department/line_item_data_prices2.csv')
print(df_line_item_prices2)
print(df_line_item_prices2.columns.ravel())
df_line_item_prices2.isnull().sum()

## Line Item Data Price 3

In [ ]:
df_line_item_prices3 = pd.read_parquet('Operations Department/line_item_data_prices3.parquet')
print(df_line_item_prices3)
print(df_line_item_prices3.columns.ravel())
df_line_item_prices3.isnull().sum()

## Line Item Data Products 1

In [ ]:
df_line_item_products1 = pd.read_csv('Operations Department/line_item_data_products1.csv')
print(df_line_item_products1)
print(df_line_item_products1.columns.ravel())
df_line_item_products1.isnull().sum()

## Line Item Data Products 2

In [ ]:
df_line_item_products2 = pd.read_csv('Operations Department/line_item_data_products2.csv')
print(df_line_item_products2)
print(df_line_item_products2.columns.ravel())
df_line_item_products2.isnull().sum()

## Line Item Data Products 3

In [ ]:
df_line_item_products3 = pd.read_parquet('Operations Department/line_item_data_products3.parquet')
print(df_line_item_products3)
print(df_line_item_products3.columns.ravel())
df_line_item_products3.isnull().sum()

## Order Data - January 01, 2020 - July 01, 2020

In [ ]:
df_order_data1 = pd.read_parquet('Operations Department/order_data_20200101-20200701.parquet')
print(df_order_data1)
print(df_order_data1.columns.ravel())
df_order_data1.isnull().sum()

## Order Data - July 01, 2020 - October 01, 2021

In [ ]:
df_order_data2 = pd.read_pickle('Operations Department/order_data_20200701-20211001.pickle')
print(df_order_data2)
print(df_order_data2.columns.ravel())
df_order_data2.isnull().sum()

## Order Data - October 01, 2021 - January 01, 2022

In [ ]:
df_order_data3 = pd.read_csv('Operations Department/order_data_20211001-20220101.csv')
print(df_order_data3)
print(df_order_data3.columns.ravel())
df_order_data3.isnull().sum()

## Order Data - January 01, 2022 - December 01, 2022

In [78]:
df_order_data4 = pd.read_excel('Operations Department/order_data_20220101-20221201.xlsx', engine = 'openpyxl')
print(df_order_data4)
print(df_order_data4.columns.ravel())
df_order_data4.isnull().sum()
df_order_data4 = pd.DataFrame(df_order_data4)

        Unnamed: 0                              order_id    user_id  \
0                0  eac330c0-457a-4faa-b15a-52a3c440e7f3  USER23985
1                3  a800f0d9-47d8-455b-b096-622e76156705  USER44549
2                8  26b60a4e-aafe-4b99-bace-034d088a4a53  USER53013
3               13  96c718b3-0de0-482c-8b05-9081d47314c6  USER55595
4               21  0e6eeff9-dc85-4e22-9d0d-0758f2e321f6  USER29425
...            ...                                   ...        ...
117168      499982  ceafa665-307f-4c9e-b1bd-79577a450eb9  USER17572
117169      499986  f628455c-ad0a-444f-96c3-931f6a1912e9  USER21194
117170      499987  38973532-903e-49e6-9d13-61dd5fdebf6e  USER14772
117171      499990  6a5163c2-ba62-461c-a729-5b06fe266bd9  USER40321
117172      499991  883e2fe2-bbdf-4b5e-8348-c2bcba07da0e  USER54177

       estimated arrival transaction_date
0                 12days       2022-08-13
1                  9days       2022-11-11
2                  8days       2022-01-05
3                  8days       2022-05-29
4                  8days       2022-11-17
...                  ...              ...
117168            12days       2022-02-14
117169             9days       2022-01-23
117170            11days       2022-06-06
117171            12days       2022-04-14
117172            15days       2022-11-23

[117173 rows x 5 columns]
Index(['Unnamed: 0', 'order_id', 'user_id', 'estimated arrival',
       'transaction_date'],
      dtype='object')

## Order Data - December 01, 2022 - June 01, 2023

In [ ]:
df_order_data5 = pd.read_json('Operations Department/order_data_20221201-20230601.json')
print(df_order_data5)
print(df_order_data5.columns.ravel())
df_order_data5.isnull().sum()

## Order Data - June 01, 2023 - January 01, 2024

In [107]:
df_order_data6 = pd.read_html('Operations Department/order_data_20230601-20240101.html')
df_order_data6 = pd.DataFrame(df_order_data6[0])
print(df_order_data6)

       Unnamed: 0                              order_id    user_id  \
0               2  0612c246-57f1-40e8-9993-0f8d41992049  USER24284
1               5  74e7c07a-d266-492f-a8f7-22987013d7e1  USER47513
2               9  4aab29ae-e610-46bf-92af-199f6f420cee  USER50778
3              18  89c3c238-2ae5-4883-bba5-08e23dbedee3  USER44062
4              20  03c25b03-a7cc-4758-8490-cdd5dd492646  USER48153
...           ...                                   ...        ...
64041      499974  567ef043-cc78-42af-90cc-9e92a240479f  USER28093
64042      499981  8fd537e1-a0b6-434f-a928-f37a19c54c05  USER14801
64043      499989  a2561340-c850-4f85-8e20-e9ceccd10608  USER05932
64044      499992  575b0a2d-5539-4565-a10b-1f4f6516cd27  USER59342
64045      499998  949eb760-8022-4f0b-9e6c-3ddb049a25fd  USER04177

      estimated arrival transaction_date
0                10days       2023-08-14
1                15days       2023-10-30
2                14days       2023-09-19
3                 8days       2023-07-11
4                15days       2023-07-21
...                 ...              ...
64041             3days       2023-10-08
64042             3days       2023-10-13
64043             3days       2023-11-07
64044            12days       2023-07-28
64045             4days       2023-08-16

[64046 rows x 5 columns]

## Order Delay

In [103]:
df_order_delays = pd.read_html('Operations Department/order_delays.html')
df_order_delays[0]
df_order_delays = pd.DataFrame(df_order_delays[0])

## Merge all order_data

#### Convert all order data to parquets

In [85]:
df_order_data1.to_parquet("Operations Department/parquets/df_order_1.parquet")
df_order_data2.to_parquet("Operations Department/parquets/df_order_2.parquet")
df_order_data3.to_parquet("Operations Department/parquets/df_order_3.parquet")
df_order_data4.to_parquet("Operations Department/parquets/df_order_4.parquet")
df_order_data5.to_parquet("Operations Department/parquets/df_order_5.parquet")
df_order_data6.to_parquet("Operations Department/parquets/df_order_6.parquet")

#### Merge all parquets

In [96]:
p_order_1 = pd.read_parquet("Operations Department/parquets/df_order_1.parquet")
p_order_2 = pd.read_parquet("Operations Department/parquets/df_order_2.parquet")
p_order_3 = pd.read_parquet("Operations Department/parquets/df_order_3.parquet")
p_order_4 = pd.read_parquet("Operations Department/parquets/df_order_4.parquet")
p_order_5 = pd.read_parquet("Operations Department/parquets/df_order_5.parquet")
p_order_6 = pd.read_parquet("Operations Department/parquets/df_order_6.parquet")

frames = [p_order_1, p_order_2, p_order_3, p_order_4, p_order_5, p_order_6]
all_Order_data = pd.concat(frames)

In [97]:
print(all_Order_data)

                                   order_id    user_id estimated arrival  \
12     0248bb48-d0d0-4a11-a158-f620640a757a  USER16283            13days
19     14473b59-6c4f-429e-89ef-ce920b209df3  USER08179             8days
25     62b8fabf-4e0a-4383-8b3a-7276c77f9e8c  USER55688            10days
29     96a01cee-071d-4e10-a9e4-56a31b82a9d5  USER34967             8days
37     479b1a6c-3a76-41a7-b15d-71acd4045080  USER07130            15days
...                                     ...        ...               ...
64041  567ef043-cc78-42af-90cc-9e92a240479f  USER28093             3days
64042  8fd537e1-a0b6-434f-a928-f37a19c54c05  USER14801             3days
64043  a2561340-c850-4f85-8e20-e9ceccd10608  USER05932             3days
64044  575b0a2d-5539-4565-a10b-1f4f6516cd27  USER59342            12days
64045  949eb760-8022-4f0b-9e6c-3ddb049a25fd  USER04177             4days

      transaction_date  Unnamed: 0
12          2020-06-04         NaN
19          2020-04-07         NaN
25          2020-05-07         NaN
29          2020-06-05         NaN
37          2020-05-24         NaN
...                ...         ...
64041       2023-10-08    499974.0
64042       2023-10-13    499981.0
64043       2023-11-07    499989.0
64044       2023-07-28    499992.0
64045       2023-08-16    499998.0

[500000 rows x 5 columns]

## Merge all order data and delayed through order_id

In [118]:
merged_data = pd.merge(all_Order_data, df_order_delays, on="order_id")
merged_data[merged_data['delay in days'] <= 0].head()

,order_id,user_id,estimated arrival,transaction_date,Unnamed: 0_x,Unnamed: 0_y,delay in days
14,4a500282-9581-49bd-9e1a-8dd5ef9cb1c9,USER61761,6days,2020-04-19,NaN,340,0
15,01fb171d-36f3-4943-b5d7-3f0b44234309,USER09322,9days,2020-05-05,NaN,347,0
38,7b97d8be-2445-4141-a007-b7ffc483e11e,USER09918,12days,2020-04-23,NaN,821,0
55,d296ffaf-8539-48d5-99b9-1855facc101d,USER12116,3days,2020-06-27,NaN,1243,0
59,530b7c78-4b1c-4e08-bafd-381305b3dfea,USER57291,13days,2020-04-11,NaN,1358,0