In [1]:
import pandas as pd
import numpy as np

## User Credit Card

In [2]:
df_user_cc = pd.read_pickle('Customer Management Department/user_credit_card.pickle')
print(df_user_cc)
print(df_user_cc.columns.ravel())

        user_id              name  credit_card_number   issuing_bank
0     USER40678        Zion Feest          4294956114            bpi
1     USER08728  Kattie Bergstrom          2742902159            bdo
2     USER29759      Aiden Corwin          1917471950            bdo
3     USER16806    Vince Gislason          3290792253      chinabank
4     USER27644     Adele Okuneva          2313395832      chinabank
...         ...               ...                 ...            ...
4995  USER49969   Kendall Waelchi          1870581879      chinabank
4996  USER57209  Lucious Kshlerin          1139377065       mayabank
4997  USER36424    Cordie Jenkins          2187584552  robinsonsbank
4998  USER45166        Tyrel Feil          2542420860            bdo
4999  USER54154       Betty Zieme          4104712921   securitybank

[5000 rows x 4 columns]
Index(['user_id', 'name', 'credit_card_number', 'issuing_bank'], dtype='object')

## Checking for Nulls

In [31]:
df_user_cc.isnull().sum()

user_id               0
name                  0
credit_card_number    0
issuing_bank          0
dtype: int64

## User Data

In [11]:
df_user_data = pd.read_json('Customer Management Department/user_data.json')
print(df_user_data)
print(df_user_data.columns.ravel())

        user_id        creation_date              name  \
0     USER40678  2021-03-17 22:56:13        Zion Feest
1     USER08728  2022-10-10 12:53:20  Kattie Bergstrom
2     USER29759  2020-05-20 04:34:44      Aiden Corwin
3     USER16806  2021-05-28 07:36:30    Vince Gislason
4     USER27644  2023-03-16 19:25:35     Adele Okuneva
...         ...                  ...               ...
4995  USER49969  2021-11-18 19:04:30   Kendall Waelchi
4996  USER57209  2022-03-27 09:17:43  Lucious Kshlerin
4997  USER36424  2022-10-05 21:36:56    Cordie Jenkins
4998  USER45166  2020-07-20 03:51:41        Tyrel Feil
4999  USER54154  2020-05-13 08:43:26       Betty Zieme

                          street           state        city  \
0          14938 West Trace side      New Jersey  Birmingham
1           4476 West Haven fort         Alabama      Irvine
2      59980 North Crest chester  North Carolina       Tampa
3               541 Radial mouth        Illinois     Orlando
4                  896 Glen bury         Arizona        Reno
...                          ...             ...         ...
4995      792 North Manors haven         Florida   San Diego
4996         48282 Burgs chester        Kentucky     Garland
4997  8928 North Mountains haven    North Dakota  Scottsdale
4998          920 New Manor port    Rhode Island   Arlington
4999       19808 North Pass side        Colorado     Detroit

                    country            birthdate  gender     device_address  \
0                 Hong Kong  1998-04-06 05:29:37    male  17:fb:f2:60:94:4b
1                   Mayotte  2003-05-22 11:16:19    male  b0:17:a7:0b:d6:67
2                      Iraq  2008-08-29 16:42:05  female  24:f2:0b:88:2f:bd
3               New Zealand  2012-02-09 14:12:37    male  a4:f5:fd:fe:07:f9
4                    Mexico  1976-10-13 00:53:54    male  ac:80:b3:bc:8d:5f
...                     ...                  ...     ...                ...
4995                 Jersey  1996-03-11 09:05:32  female  8e:57:7e:62:90:b4
4996               Ethiopia  2013-07-07 08:53:27  female  00:35:b5:e4:e1:aa
4997                  Tonga  1991-05-18 05:07:36    male  0b:0d:57:d6:c1:ab
4998  Virgin Islands (U.S.)  1975-12-19 02:27:16    male  83:c9:1e:4e:52:f4
4999                 Zambia  2010-02-21 02:56:06  female  4c:fb:dc:fb:b7:e7

     user_type
0        basic
1      premium
2        basic
3        basic
4      premium
...        ...
4995     basic
4996     basic
4997     basic
4998   premium
4999   premium

[5000 rows x 11 columns]
Index(['user_id', 'creation_date', 'name', 'street', 'state', 'city',
       'country', 'birthdate', 'gender', 'device_address', 'user_type'],
      dtype='object')

## Checking For Nulls

In [30]:
df_user_data.isnull().sum()

user_id           0
creation_date     0
name              0
street            0
state             0
city              0
country           0
birthdate         0
gender            0
device_address    0
user_type         0
dtype: int64

## User Job

In [24]:
df_user_job = pd.read_csv('Customer Management Department/user_job.csv')
print(df_user_job)
print(df_user_job.columns.ravel())

      Unnamed: 0    user_id              name       job_title   job_level
0              0  USER40678        Zion Feest      Technician    Accounts
1              1  USER08728  Kattie Bergstrom      Technician   Solutions
2              2  USER29759      Aiden Corwin         Student         NaN
3              3  USER16806    Vince Gislason         Student         NaN
4              4  USER27644     Adele Okuneva       Associate   Usability
...          ...        ...               ...             ...         ...
4995        4995  USER49969   Kendall Waelchi     Facilitator  Directives
4996        4996  USER57209  Lucious Kshlerin         Student         NaN
4997        4997  USER36424    Cordie Jenkins  Representative  Directives
4998        4998  USER45166        Tyrel Feil      Supervisor     Metrics
4999        4999  USER54154       Betty Zieme         Student         NaN

[5000 rows x 5 columns]
Index(['Unnamed: 0', 'user_id', 'name', 'job_title', 'job_level'], dtype='object')

## Checking for Nulls

In [32]:
df_user_job.isnull().sum()

Unnamed: 0       0
user_id          0
name             0
job_title        0
job_level     1629
dtype: int64